# ignore node_modules
node_modules/

# ignore .env file
.env

# ignore log files
*.log

# ignore app folders
app/
cert/
public/icons/

config.js
testCreateStorePickup.js
prevCreateStorePickup.js
testStoreMapInit.js
test_store_pickup.html
test.html
app.yaml
certificate