<link rel="stylesheet" type="text/css" href="/css/common/required_input.css" />
<% if (!requiredDataChk) { %>
<div class="required_setting_modal_ct">
  <div class="required_setting_modal">
    <div class="page_title">
      <div class="title_ct">
        <span class="title">Register required fields</span>
        <span class="sub_title">필수항목 등록</span>
      </div>
    </div>
    <div class="required_ct">
      <div class="text-field" id="emailTextFeild">
        <input type="text" id="requiredEmail" value="" placeholder="example@naver.com" />
        <label for="email">이메일</label>
      </div>
      <div class="text-field" id="pwTextFeild">
        <input type="password" id="requiredPassword" value="" placeholder="" autocomplete="new-password" />
        <label for="requiredPassword">비밀번호</label>
        <div class="pw_pattern" id="pwPattern">
          <div class="title">다음을 활용한 보안 비밀번호를 사용하시기 바랍니다.</div>
          <div class="total_cnt">최소 8자 이상</div>
          <div class="eng">최소 1개의 영문자 사용</div>
          <div class="number">최소 1개의 숫자 사용</div>
          <div class="special_char">최소 1개의 특수문자 사용</div>
        </div>
      </div>
      <div class="text-field" id="domainTextFeild">
        <input type="text" id="requiredDmn" value="" placeholder="https://example.com" />
        <label for="requiredDmn">도메인</label>
      </div>
    </div>
    <div class="full-btn bg-success" id="requiredSettingSubmit">설정</div>
  </div>
</div>

<script src="/js/auth/required_input.js"></script>
<% } %>
