<div id="sideNavCt">
  <div class="logo_ct"><a href="/stores">STORE MAP</a></div>
  <ul class="cates">
    <li class="cate <% if(cateId ==='storesCate') { %> on <% } %>" id="storesCate">
      <a href="/stores">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_149_152)">
            <path
              class="fill_path"
              d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
            />
            <path
              d="M16.377 17.4722H12.7828C12.4183 17.4722 12.1221 17.176 12.1221 16.8115V13.9605C12.1221 13.5961 12.4183 13.2999 12.7828 13.2999H16.377C16.7415 13.2999 17.0377 13.5961 17.0377 13.9605V16.8115C17.0377 17.176 16.7415 17.4722 16.377 17.4722ZM13.4434 16.1509H15.7181V14.6212H13.4434V16.1509Z"
              fill="white"
            />
            <path
              d="M20.1795 6.79535H20.1812L18.2854 4.36627C17.9891 3.98745 17.5349 3.76483 17.0538 3.76483H6.94426C6.46311 3.76483 6.00889 3.98566 5.71266 4.36627L3.81679 6.79356H3.81859C3.73062 6.90666 3.67676 7.0467 3.67676 7.1993V8.09338C3.67676 9.41115 4.63367 10.5745 5.94426 10.7289C6.82757 10.8331 7.63367 10.4848 8.16868 9.88691C8.64085 10.4129 9.32308 10.7469 10.0843 10.7469C10.8455 10.7469 11.5277 10.4129 11.9999 9.88691C12.4721 10.4129 13.1543 10.7469 13.9155 10.7469C14.6768 10.7469 15.359 10.4129 15.8312 9.88691C16.3662 10.483 17.1723 10.8331 18.0556 10.7289C19.3644 10.5745 20.3231 9.41115 20.3231 8.09338V7.1993C20.3231 7.0467 20.2692 6.90666 20.1812 6.79356L20.1795 6.79535ZM7.26742 5.0862H16.7324C17.0107 5.0862 17.2728 5.21366 17.4434 5.4327L18.3069 6.53862H5.69292L6.55647 5.4327C6.72703 5.21366 6.98915 5.0862 7.26742 5.0862ZM6.25306 9.42551C5.56186 9.42551 4.99812 8.86178 4.99812 8.17058V7.85998H7.508V8.17058C7.508 8.86178 6.94426 9.42551 6.25306 9.42551ZM10.0843 9.42551C9.3931 9.42551 8.82936 8.86178 8.82936 8.17058V7.85998H11.3392V8.17058C11.3392 8.86178 10.7755 9.42551 10.0843 9.42551ZM13.9155 9.42551C13.2243 9.42551 12.6606 8.86178 12.6606 8.17058V7.85998H15.1705V8.17058C15.1705 8.86178 14.6067 9.42551 13.9155 9.42551ZM19.0017 8.17058C19.0017 8.86178 18.438 9.42551 17.7468 9.42551C17.0556 9.42551 16.4918 8.86178 16.4918 8.17058V7.85998H19.0017V8.17058Z"
              fill="white"
            />
            <path
              d="M18.9515 11.4524C18.6086 11.4866 18.359 11.8007 18.359 12.1472V18.3717C18.359 18.6715 18.1166 18.9138 17.8168 18.9138H10.7719V12.149C10.7719 11.8043 10.5242 11.4884 10.1795 11.4542C9.7845 11.4147 9.45057 11.7235 9.45057 12.1113V18.9138H6.17947C5.87965 18.9138 5.63728 18.6715 5.63728 18.3717V12.1472C5.63728 11.8025 5.38953 11.4866 5.04482 11.4524C4.64985 11.4129 4.31592 11.7217 4.31592 12.1095V18.6733C4.31592 19.535 5.0143 20.2334 5.87606 20.2334H18.1148C18.9766 20.2334 19.675 19.535 19.675 18.6733V12.1095C19.675 11.7217 19.3411 11.4129 18.9461 11.4524H18.9515Z"
              fill="white"
            />
            <path
              d="M7.0557 16.4184C6.69125 16.4184 6.39502 16.1221 6.39502 15.7577V15.1167C6.39502 14.7523 6.69125 14.4561 7.0557 14.4561C7.42015 14.4561 7.71638 14.7523 7.71638 15.1167V15.7577C7.71638 16.1221 7.42015 16.4184 7.0557 16.4184Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_149_152">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
        매장 관리
      </a>
    </li>
    <li class="cate <% if(cateId ==='productCate') { %> on <% } %>" id="styleCate">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_149_167)">
          <path
            class="fill_path"
            d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
          />
          <path
            d="M10.2064 19.9551C9.26383 19.9551 8.49902 19.1885 8.49902 18.2459C8.49902 17.3034 9.26563 16.5386 10.2064 16.5386C11.1471 16.5386 11.9137 17.3052 11.9137 18.2459C11.9137 19.1867 11.1471 19.9551 10.2064 19.9551ZM10.2064 17.6104C9.85629 17.6104 9.57084 17.8958 9.57084 18.2459C9.57084 18.596 9.85629 18.8815 10.2064 18.8815C10.5565 18.8815 10.8419 18.596 10.8419 18.2459C10.8419 17.8958 10.5565 17.6104 10.2064 17.6104Z"
            fill="white"
          />
          <path
            d="M16.1434 19.9551C15.2008 19.9551 14.436 19.1885 14.436 18.2459C14.436 17.3034 15.2026 16.5386 16.1434 16.5386C17.0841 16.5386 17.8526 17.3052 17.8526 18.2459C17.8526 19.1867 17.0859 19.9551 16.1434 19.9551ZM16.1434 17.6104C15.7933 17.6104 15.5078 17.8958 15.5078 18.2459C15.5078 18.596 15.7933 18.8815 16.1434 18.8815C16.4935 18.8815 16.7789 18.596 16.7789 18.2459C16.7789 17.8958 16.4935 17.6104 16.1434 17.6104Z"
            fill="white"
          />
          <path
            d="M17.3949 15.2154H8.97295C8.15428 15.2154 7.4541 14.6571 7.27098 13.8581L5.52232 6.22439C5.49898 6.12385 5.42897 6.03768 5.33561 5.99459L3.88498 5.32313C3.54925 5.16694 3.40383 4.76838 3.55823 4.43265C3.71442 4.09692 4.11299 3.9515 4.44872 4.1059L5.89755 4.77735C6.36433 4.99459 6.71263 5.42188 6.82753 5.92457L8.57618 13.5583C8.61927 13.7432 8.78085 13.8743 8.97116 13.8743H17.3931C17.5834 13.8743 17.7449 13.745 17.788 13.5601L19.1471 7.71272C19.1866 7.54576 19.1148 7.42547 19.0699 7.36802C19.025 7.31057 18.9227 7.21541 18.7521 7.21541H8.83471C8.46487 7.21541 8.16505 6.91559 8.16505 6.54576C8.16505 6.17592 8.46487 5.8761 8.83471 5.8761H18.7521C19.2871 5.8761 19.7862 6.11667 20.1202 6.53678C20.4541 6.95689 20.5744 7.49549 20.4541 8.01793L19.095 13.8653C18.9101 14.6607 18.2099 15.2154 17.3949 15.2154Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_149_167">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <a href="/products">상품 설정</a>
    </li>
    <li class="cate <% if(cateId ==='styleCate') { %> on <% } %>" id="styleCate">
      <a href="/widgets/styles">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_149_140)">
            <path
              class="fill_path"
              d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
            />
            <path
              d="M14.9908 12.596C14.883 12.1436 14.6048 11.7576 14.2098 11.5135C13.813 11.2693 13.3444 11.1939 12.8902 11.3034C12.436 11.4093 12.05 11.6876 11.8076 12.0844L11.5294 12.5368L9.05 16.5548C8.98896 16.6553 8.95664 16.7702 8.96023 16.8887L9.02845 18.9623C9.03564 19.1616 9.14156 19.3447 9.31391 19.4506C9.48267 19.5548 9.69991 19.5727 9.87944 19.4865L11.7645 18.6176C11.8723 18.5673 11.962 18.4883 12.0249 18.386L14.5024 14.3716L14.7807 13.9192C15.0249 13.5224 15.1003 13.0539 14.9925 12.5978L14.9908 12.596ZM11.0949 17.6014L10.1972 18.0144L10.1631 17.0269L11.9153 14.1867L12.8471 14.7612L11.0949 17.6014ZM13.7556 13.2872L13.4773 13.7397L12.5455 13.1652L12.8238 12.7127C12.9782 12.4632 13.3301 12.3824 13.5778 12.535C13.8328 12.6912 13.9136 13.0341 13.7556 13.289V13.2872Z"
              fill="white"
            />
            <path
              d="M11.027 7.5045H7.23522C6.93719 7.5045 6.69482 7.26213 6.69482 6.9641C6.69482 6.66608 6.93719 6.42371 7.23522 6.42371H11.027C11.325 6.42371 11.5674 6.66608 11.5674 6.9641C11.5674 7.26213 11.325 7.5045 11.027 7.5045Z"
              fill="white"
            />
            <path
              d="M13.4166 6.39319C13.1006 6.39319 12.8457 6.64813 12.8457 6.9641C12.8457 7.28008 13.1006 7.53502 13.4166 7.53502C13.7326 7.53502 13.9875 7.28008 13.9875 6.9641C13.9875 6.64813 13.7326 6.39319 13.4166 6.39319Z"
              fill="white"
            />
            <path
              d="M15.0738 6.39319C14.7579 6.39319 14.5029 6.64813 14.5029 6.9641C14.5029 7.28008 14.7579 7.53502 15.0738 7.53502C15.3898 7.53502 15.6448 7.28008 15.6448 6.9641C15.6448 6.64813 15.3898 6.39319 15.0738 6.39319Z"
              fill="white"
            />
            <path
              d="M16.7325 6.39319C16.4166 6.39319 16.1616 6.64813 16.1616 6.9641C16.1616 7.28008 16.4166 7.53502 16.7325 7.53502C17.0485 7.53502 17.3035 7.28008 17.3035 6.9641C17.3035 6.64813 17.0485 6.39319 16.7325 6.39319Z"
              fill="white"
            />
            <path
              d="M18.0034 4.45959H5.99441C5.16317 4.45959 4.48633 5.13644 4.48633 5.96767V16.7486C4.48633 17.5817 5.16317 18.2567 5.99441 18.2567H8.00338V17.0556H5.99441C5.82565 17.0556 5.68741 16.9192 5.68741 16.7486V9.47216H18.3122V16.7486C18.3122 16.9192 18.1721 17.0556 18.0052 17.0556H13.9747L13.235 18.2567H18.0052C18.8364 18.2567 19.5133 17.5817 19.5133 16.7486V5.96767C19.5133 5.13644 18.8364 4.45959 18.0052 4.45959H18.0034ZM18.3104 8.27109H5.68741V5.96767C5.68741 5.79891 5.82565 5.66067 5.99441 5.66067H18.0034C18.1721 5.66067 18.3104 5.79891 18.3104 5.96767V8.27109Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_149_140">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
        스타일 설정
      </a>
    </li>
    <li class="cate <% if(cateId ==='mypageCate') { %> on <% } %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_149_160)">
          <path
            class="fill_path"
            d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
          />
          <path
            d="M12.0006 11.8599C11.5644 11.8599 11.1299 11.6948 10.7834 11.3626C10.1748 10.7809 9.61104 9.74145 9.72594 8.73248C9.75466 8.48292 9.82468 8.1077 10.1012 7.73607C10.5554 7.12565 11.2448 6.77377 11.9899 6.77197H11.997C12.7457 6.77197 13.4387 7.12206 13.9001 7.73248C14.1766 8.10411 14.2466 8.46138 14.2789 8.73248V8.74325C14.3633 9.62655 13.9378 10.6786 13.2197 11.3626C12.8732 11.6948 12.4369 11.8599 12.0024 11.8599H12.0006ZM11.9952 7.93714H11.9916C11.6164 7.93714 11.2681 8.11847 11.0347 8.43265C10.9468 8.54935 10.9055 8.67143 10.8821 8.86533C10.8157 9.44702 11.1873 10.14 11.5877 10.5224C11.8301 10.754 12.1694 10.754 12.4136 10.5224C12.8696 10.088 13.1658 9.38957 13.1173 8.85994C13.0958 8.66964 13.0527 8.54935 12.9665 8.43265C12.7295 8.11847 12.3741 7.93714 11.9952 7.93714Z"
            fill="white"
          />
          <path
            d="M14.0058 17.228H9.99505C9.09918 17.228 8.37207 16.4991 8.37207 15.605V15.3052C8.37207 14.377 8.80475 13.5386 9.53006 13.0628C9.96633 12.7756 10.4744 12.6248 10.9968 12.6248H13.004C13.5265 12.6248 14.0345 12.7756 14.4708 13.0628C15.1961 13.5386 15.6288 14.377 15.6288 15.3052V15.605C15.6288 16.5009 14.8999 17.228 14.0058 17.228ZM10.9968 13.7899C10.7006 13.7899 10.4152 13.8761 10.1692 14.0377C9.77961 14.2926 9.53724 14.7792 9.53724 15.3052V15.605C9.53724 15.8581 9.74191 16.0628 9.99505 16.0628H14.0058C14.259 16.0628 14.4636 15.8564 14.4636 15.605V15.3052C14.4636 14.7792 14.2213 14.2926 13.8317 14.0377C13.5857 13.8761 13.2985 13.7899 13.004 13.7899H10.9968Z"
            fill="white"
          />
          <path
            d="M17.2229 19.2101H6.77761C5.94637 19.2101 5.26953 18.5332 5.26953 17.7002V6.29623C5.26953 5.46499 5.94637 4.78815 6.77761 4.78815H17.2229C18.0541 4.78815 18.7327 5.46499 18.7327 6.29623V17.7002C18.7327 18.5314 18.0559 19.2101 17.2229 19.2101ZM6.77761 5.95511C6.5891 5.95511 6.4347 6.10951 6.4347 6.29802V17.702C6.4347 17.8923 6.5891 18.0449 6.77761 18.0449H17.2229C17.4132 18.0449 17.5658 17.8905 17.5658 17.702V6.29802C17.5658 6.10951 17.4114 5.95511 17.2229 5.95511H6.77761Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_149_160">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
      <a href="/users/mypage">마이페이지</a>
    </li>
    <li class="cate <% if(cateId ==='order') { %> on <% } %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_149_189)">
          <path
            class="fill_path"
            d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
          />
          <path
            d="M12.4325 8.38424L12.3158 8.33936C11.8526 8.16701 11.8167 8.10597 11.8167 8.03774C11.8167 7.94798 11.9406 7.88693 12.1273 7.88693C12.2027 7.88693 12.2745 7.89232 12.3356 7.90309C12.393 7.91386 12.4505 7.92643 12.5079 7.94259C12.6264 7.97491 12.7485 7.95875 12.8544 7.8995C12.9567 7.84205 13.0286 7.74869 13.0591 7.63738L13.0824 7.56018C13.147 7.32141 13.0052 7.07544 12.7664 7.01081C12.6892 6.99106 12.6138 6.97491 12.5366 6.96413C12.5133 6.67688 12.2727 6.45605 11.9783 6.45605C11.6695 6.45605 11.4181 6.70561 11.4181 7.01261V7.07185C10.9729 7.26395 10.709 7.64816 10.709 8.10237C10.709 8.55659 10.9819 8.91746 11.5205 9.15623C11.5959 9.19035 11.6677 9.21907 11.7395 9.24421C12.1776 9.4004 12.1776 9.48837 12.1776 9.54582C12.1776 9.7092 11.9567 9.73254 11.8239 9.73254C11.7521 9.73254 11.6856 9.72715 11.6138 9.71638C11.5079 9.70202 11.4092 9.67868 11.3212 9.64995C11.2027 9.61045 11.0716 9.62302 10.9621 9.68406C10.8526 9.7451 10.779 9.84564 10.7503 9.96593L10.7287 10.0521C10.6731 10.2783 10.8023 10.5099 11.0232 10.5799C11.1453 10.6176 11.2817 10.6482 11.4199 10.6679C11.4451 10.9552 11.6838 11.1742 11.9765 11.1742C12.2853 11.1742 12.5366 10.9246 12.5366 10.6176V10.5638C13.007 10.3717 13.2871 9.97311 13.2871 9.49376C13.2871 8.98747 13.016 8.63559 12.4307 8.38604L12.4325 8.38424Z"
            fill="white"
          />
          <path
            d="M11.9998 4.60504C9.6784 4.60504 7.7915 6.49373 7.7915 8.8133C7.7915 11.1329 9.68019 13.0216 11.9998 13.0216C14.3193 13.0216 16.208 11.1329 16.208 8.8133C16.208 6.49373 14.3193 4.60504 11.9998 4.60504ZM11.9998 11.7882C10.3588 11.7882 9.0249 10.4542 9.0249 8.8133C9.0249 7.17237 10.3588 5.83843 11.9998 5.83843C13.6407 5.83843 14.9746 7.17237 14.9746 8.8133C14.9746 10.4542 13.6407 11.7882 11.9998 11.7882Z"
            fill="white"
          />
          <path
            d="M20.6425 18.4776L19.5671 15.3878V6.53682C19.5671 6.15621 19.2583 5.84741 18.8777 5.84741H16.4038C16.6874 6.26752 16.9136 6.73072 17.068 7.22623H18.1883V14.8151H5.82208C5.82747 12.6589 5.81849 8.79535 5.8131 7.22623H6.9316C7.08599 6.73251 7.31221 6.26932 7.59587 5.84741H5.1219C4.93878 5.84741 4.76283 5.92102 4.63357 6.05028C4.50431 6.17955 4.43249 6.35549 4.43249 6.53861C4.43249 6.60325 4.45404 12.912 4.44147 15.3627L3.35709 18.4794C3.28348 18.6894 3.31759 18.9228 3.44686 19.1059C3.57612 19.2873 3.78617 19.395 4.00879 19.395H19.9926C20.2153 19.395 20.4253 19.2873 20.5546 19.1059C20.6838 18.9246 20.7162 18.6912 20.6443 18.4794L20.6425 18.4776ZM4.97827 18.0144L5.61203 16.1921H18.3876L19.0214 18.0144H4.97648H4.97827Z"
            fill="white"
          />
        </g>
      </svg>
      <a href="/order">결제하기</a>
    </li>
    <li class="cate <% if(cateId ==='faqCate') { %> on <% } %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_173_206)">
          <path
            class="fill_path"
            d="M20.1598 0H3.84022C1.71932 0 0 1.71932 0 3.84022V20.1598C0 22.2807 1.71932 24 3.84022 24H20.1598C22.2807 24 24 22.2807 24 20.1598V3.84022C24 1.71932 22.2807 0 20.1598 0Z"
          />
          <path
            d="M11.0144 8.10052H7.17599C6.87438 8.10052 6.62842 7.85636 6.62842 7.55295C6.62842 7.24954 6.87258 7.00537 7.17599 7.00537H11.0144C11.316 7.00537 11.562 7.24954 11.562 7.55295C11.562 7.85636 11.3178 8.10052 11.0144 8.10052Z"
            fill="white"
          />
          <path
            d="M13.4326 6.97485C13.113 6.97485 12.8545 7.23338 12.8545 7.55295C12.8545 7.87252 13.113 8.13105 13.4326 8.13105C13.7522 8.13105 14.0107 7.87252 14.0107 7.55295C14.0107 7.23338 13.7522 6.97485 13.4326 6.97485Z"
            fill="white"
          />
          <path
            d="M15.1113 6.97485C14.7917 6.97485 14.5332 7.23338 14.5332 7.55295C14.5332 7.87252 14.7917 8.13105 15.1113 8.13105C15.4309 8.13105 15.6894 7.87252 15.6894 7.55295C15.6894 7.23338 15.4309 6.97485 15.1113 6.97485Z"
            fill="white"
          />
          <path
            d="M16.79 6.97485C16.4704 6.97485 16.2119 7.23338 16.2119 7.55295C16.2119 7.87252 16.4704 8.13105 16.79 8.13105C17.1096 8.13105 17.3681 7.87252 17.3681 7.55295C17.3681 7.23338 17.1096 6.97485 16.79 6.97485Z"
            fill="white"
          />
          <path
            d="M18.0772 5.01617H5.92105C5.07904 5.01617 4.39502 5.7002 4.39502 6.54221V17.456C4.39502 18.298 5.07904 18.9821 5.92105 18.9821H18.0772C18.9193 18.9821 19.6033 18.298 19.6033 17.456V6.54221C19.6033 5.7002 18.9193 5.01617 18.0772 5.01617ZM18.3878 17.456C18.3878 17.6266 18.2478 17.7666 18.0772 17.7666H5.92105C5.7505 17.7666 5.61046 17.6266 5.61046 17.456V10.0898H18.3878V17.456ZM18.3878 8.87434H5.61046V6.54221C5.61046 6.37165 5.7505 6.23161 5.92105 6.23161H18.0772C18.2478 6.23161 18.3878 6.37165 18.3878 6.54221V8.87434Z"
            fill="white"
          />
          <path
            d="M9.44893 15.9426C9.29274 15.9426 9.13834 15.8833 9.01985 15.7648L7.61231 14.3573C7.37532 14.1203 7.37532 13.7361 7.61231 13.4973L9.01985 12.0898C9.25683 11.8528 9.64103 11.8528 9.87981 12.0898C10.1168 12.3268 10.1168 12.711 9.87981 12.9498L8.90315 13.9264L9.87981 14.9031C10.1168 15.1401 10.1168 15.5243 9.87981 15.763C9.76132 15.8815 9.60513 15.9408 9.45073 15.9408L9.44893 15.9426Z"
            fill="white"
          />
          <path
            d="M14.5512 15.9426C14.395 15.9426 14.2406 15.8834 14.1221 15.7649C13.8851 15.5279 13.8851 15.1437 14.1221 14.9049L15.0987 13.9282L14.1221 12.9516C13.8851 12.7146 13.8851 12.3304 14.1221 12.0916C14.3591 11.8546 14.7433 11.8546 14.982 12.0916L16.3896 13.4992C16.6266 13.7361 16.6266 14.1203 16.3896 14.3591L14.982 15.7667C14.8635 15.8852 14.7074 15.9444 14.553 15.9444L14.5512 15.9426Z"
            fill="white"
          />
          <path
            d="M11.4775 16.5871C11.4272 16.5871 11.377 16.5817 11.3267 16.5674C11.0017 16.4848 10.8043 16.1544 10.8886 15.8277L11.9335 11.7272C12.0161 11.4022 12.3464 11.2047 12.6714 11.2891C12.9964 11.3717 13.1938 11.702 13.1095 12.027L12.0646 16.1275C11.9946 16.4022 11.7468 16.5853 11.4757 16.5853L11.4775 16.5871Z"
            fill="white"
          />
        </g>
      </svg>
      <a href="/faq">FAQ</a>
    </li>
  </ul>
  <div id="logoutBtn">LOGOUT</div>
</div>
