<div id="sideNavCt">
  <div class="logo_ct"><a href="/stores">STORE MAP</a></div>
  <ul class="cates">
    <li class="cate <% if(cateId ==='storesCate') { %> on <% } %>" id="storesCate">
      <a href="/stores">
        <svg id="_store_2" data-name="store 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
          <g id="Layer_3" data-name="Layer 3">
            <path class="cls-1" d="M13.31,3.63c0-1.78-1.44-3.23-3.23-3.23s-3.23,1.44-3.23,3.23H.4v3.23H19.76V3.63h-6.45Z" />
            <g>
              <path
                class="cls-2"
                d="M10.08,1.61c-1.11,0-2.02,.9-2.02,2.02s.9,2.02,2.02,2.02,2.02-.9,2.02-2.02c0-1.11-.9-2.01-2.02-2.02Zm0,3.23c-.67,0-1.21-.54-1.21-1.21s.54-1.21,1.21-1.21,1.21,.54,1.21,1.21-.54,1.21-1.21,1.21Z"
              />
              <path
                class="cls-2"
                d="M24.98,18.81c-.06-.16-.21-.27-.38-.27h-5.24v-7.67c.51-.38,.8-.97,.81-1.6V3.63c0-.22-.18-.4-.4-.4h-6.07C13.46,1.23,11.67-.2,9.68,.02c-1.68,.19-3.01,1.52-3.2,3.2H.4c-.22,0-.4,.18-.4,.4v5.65c0,.63,.3,1.22,.81,1.6v8.48H.4c-.22,0-.4,.18-.4,.4v1.61c0,.22,.18,.4,.4,.4H19.23l2.64,3.09c.14,.17,.4,.19,.57,.04,.09-.08,.14-.19,.14-.31v-3.44l2.27-1.9c.13-.11,.18-.29,.12-.45h0Zm-6.83-8.33c-.67,0-1.21-.54-1.21-1.21v-2.02h2.42v2.02c0,.67-.54,1.21-1.21,1.21ZM.81,9.27v-2.02H3.23v2.02c0,.67-.54,1.21-1.21,1.21s-1.21-.54-1.21-1.21Zm3.23-2.02h2.42v2.02c0,.67-.54,1.21-1.21,1.21s-1.21-.54-1.21-1.21v-2.02Zm3.23,0h2.42v2.02c0,.67-.54,1.21-1.21,1.21s-1.21-.54-1.21-1.21v-2.02Zm3.23,0h2.42v2.02c0,.67-.54,1.21-1.21,1.21s-1.21-.54-1.21-1.21v-2.02Zm3.23,0h2.42v2.02c0,.67-.54,1.21-1.21,1.21s-1.21-.54-1.21-1.21v-2.02ZM.81,4.03H6.85c.22,0,.4-.18,.4-.4,0-1.56,1.26-2.82,2.82-2.82s2.82,1.26,2.82,2.82c0,.22,.18,.4,.4,.4h6.05v2.42H.81v-2.42Zm.81,7.22c.77,.16,1.55-.15,2.02-.78,.65,.89,1.9,1.09,2.79,.43,.17-.12,.31-.27,.43-.43,.65,.89,1.9,1.09,2.79,.43,.17-.12,.31-.27,.43-.43,.65,.89,1.9,1.09,2.79,.43,.17-.12,.31-.27,.43-.43,.65,.89,1.9,1.09,2.79,.43,.17-.12,.31-.27,.43-.43,.46,.63,1.25,.94,2.02,.78v7.3h-1.21c-.22,0-.4,.18-.4,.4,0,.1,.03,.19,.1,.26l.12,.14h-3.44v-6.85c0-.22-.18-.4-.4-.4H6.85c-.22,0-.4,.18-.4,.4v6.85H1.61V11.25Zm11.29,2.46H7.26v-.81h5.65v.81Zm-5.65,.81h2.42v4.84h-2.42v-4.84Zm3.23,0h2.42v4.84h-2.42v-4.84ZM.81,20.97v-.81H17.84l.69,.81H.81Zm21.11-.31c-.09,.08-.14,.19-.14,.31v2.54l-3.56-4.15h5.27l-1.56,1.3Z"
              />
              <path
                class="cls-2"
                d="M5.24,12.1H2.82c-.22,0-.4,.18-.4,.4v5.24c0,.22,.18,.4,.4,.4h2.42c.22,0,.4-.18,.4-.4v-5.24c0-.22-.18-.4-.4-.4Zm-.4,5.24h-1.61v-4.44h1.61v4.44Z"
              />
              <path
                class="cls-2"
                d="M14.92,18.14h2.42c.22,0,.4-.18,.4-.4v-5.24c0-.22-.18-.4-.4-.4h-2.42c-.22,0-.4,.18-.4,.4v5.24c0,.22,.18,.4,.4,.4Zm.4-5.24h1.61v4.44h-1.61v-4.44Z"
              />
            </g>
          </g>
        </svg>
        매장 관리
      </a>
    </li>
    <li class="cate <% if(cateId ==='productCate') { %> on <% } %>" id="styleCate">
      <svg id="_product_2" data-name="product 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <defs></defs>
        <g id="style_3" data-name="Layer 3">
          <rect class="cls-1" x=".4" y=".4" width="24.19" height="1.61" />
          <rect class="cls-1" x=".4" y="14.11" width="24.19" height="1.61" />
          <path
            class="cls-2"
            d="M24.6,0H.4c-.22,0-.4,.18-.4,.4v1.61c0,.22,.18,.4,.4,.4H5.65v.56l-1.37,.69c-1.82,.55-3.06,2.22-3.07,4.11v1.1c0,.22,.18,.4,.4,.4h1.21v3.23c0,.22,.18,.4,.4,.4H21.77c.22,0,.4-.18,.4-.4v-3.23h1.21c.22,0,.4-.18,.4-.4v-1.1c0-1.9-1.25-3.57-3.07-4.11l-1.37-.68v-.56h5.24c.22,0,.4-.18,.4-.4V.4c0-.22-.18-.4-.4-.4ZM8.87,2.42v.56l-1.21,.6-1.21-.6v-.56h2.42Zm10.08,1.26l1.18,.59c-.07,.33-.26,.61-.55,.79-.35-.43-.79-.79-1.28-1.06l.64-.32Zm-2.59,1.38c-.35-.43-.79-.79-1.28-1.06l.65-.32,1.18,.59c-.07,.33-.26,.61-.55,.79Zm-3.23,0c-.35-.43-.79-.79-1.28-1.06l.65-.32,1.18,.59c-.07,.33-.26,.61-.55,.79Zm-3.23,0c-.35-.43-.79-.79-1.28-1.06l.65-.32,1.18,.59c-.07,.33-.26,.61-.55,.79Zm-2.68-.79c-.13,.65-.77,1.08-1.42,.95-.48-.1-.85-.47-.95-.95l1.19-.59,1.19,.59Zm8.09-1.29l-1.21,.6-1.21-.6v-.56h2.42v.56Zm-3.23,0l-1.21,.6-1.21-.6v-.56h2.42v.56Zm-3.63,4.28v4.84H3.63V7.26h-.81v1.21h-.81v-.69c0-1.38,.82-2.64,2.09-3.2,.3,1.07,1.42,1.7,2.49,1.39,.68-.19,1.2-.72,1.39-1.39,1.27,.56,2.09,1.81,2.09,3.2v.69h-.81v-1.21h-.81Zm3.23,0v4.84h-2.42v-2.82h1.21c.22,0,.4-.18,.4-.4v-1.1c0-.72-.18-1.42-.52-2.05,.42-.26,.72-.67,.85-1.15,1.27,.56,2.09,1.81,2.09,3.2v.69h-.81v-1.21h-.81Zm3.23,0v4.84h-2.42v-2.82h1.21c.22,0,.4-.18,.4-.4v-1.1c0-.72-.18-1.42-.52-2.05,.42-.26,.72-.67,.85-1.15,1.27,.56,2.09,1.81,2.09,3.2v.69h-.81v-1.21h-.81Zm3.23,0v4.84h-2.42v-2.82h1.21c.22,0,.4-.18,.4-.4v-1.1c0-.72-.18-1.42-.52-2.05,.42-.26,.72-.67,.85-1.15,1.27,.56,2.09,1.81,2.09,3.2v.69h-.81v-1.21h-.81Zm4.84,.52v.69h-.81v-1.21h-.81v4.84h-2.42v-2.82h1.21c.22,0,.4-.18,.4-.4v-1.1c0-.72-.18-1.42-.52-2.05,.42-.26,.72-.67,.85-1.15,1.27,.56,2.09,1.81,2.09,3.2Zm-4.44-4.8l-1.21,.6-1.21-.6v-.56h2.42v.56Zm5.65-1.36H.81V.81H24.19v.81Z"
          />
          <path
            class="cls-2"
            d="M24.6,13.71H.4c-.22,0-.4,.18-.4,.4v1.61c0,.22,.18,.4,.4,.4H6.45v.99l-2.14,1.43h-.28c-.22,0-.4,.18-.4,.4v5.65c0,.22,.18,.4,.4,.4h2.02c.18,0,.34-.12,.39-.29l.49-1.73,.76,1.78c.06,.15,.21,.25,.37,.25h1.61c.22,0,.4-.18,.4-.4v-.86l.44,1.02c.06,.15,.21,.24,.37,.24h1.61c.22,0,.4-.18,.4-.4v-.86l.44,1.02c.06,.15,.21,.24,.37,.24h1.61c.22,0,.4-.18,.4-.4v-.86l.44,1.02c.06,.15,.21,.24,.37,.24h1.61c.22,0,.4-.18,.4-.4v-.86l.44,1.02c.06,.15,.21,.24,.37,.24h1.61c.22,0,.4-.18,.4-.4v-5.65c0-.22-.18-.4-.4-.4h-.28l-2.14-1.43v-.99h6.05c.22,0,.4-.18,.4-.4v-1.61c0-.22-.18-.4-.4-.4Zm-15.32,2.42v.99l-1.01,.67-1.01-.67v-.99h2.02Zm.4,2.42h-.28l-.4-.27,.69-.46,1.09,.73h-1.09Zm2.82,0h-.28l-.4-.27,.69-.46,1.09,.73h-1.09Zm2.82,0h-.28l-.4-.27,.69-.46,1.09,.73h-1.09Zm-.4-1.43l-1.01,.67-1.01-.67v-.99h2.02v.99Zm-2.82,0l-1.01,.67-1.01-.67v-.99h2.02v.99Zm-5.24,.7l1.09,.73h-2.18l1.09-.73Zm2.42,6.37h-.94l-1.1-2.58c-.07-.16-.23-.26-.4-.24-.17,.01-.32,.13-.36,.29l-.72,2.53h-1.31v-4.84h4.84v4.84Zm2.82,0h-.94l-1.07-2.5v-2.34h2.02v4.84Zm2.82,0h-.94l-1.07-2.5v-2.34h2.02v4.84Zm2.82,0h-.94l-1.07-2.5v-2.34h2.02v4.84Zm2.82,0h-.94l-1.07-2.5v-2.34h2.02v4.84Zm-2.42-5.65h-.28l-.4-.27,.69-.46,1.09,.73h-1.09Zm-.4-1.43l-1.01,.67-1.01-.67v-.99h2.02v.99Zm6.45-1.8H.81v-.81H24.19v.81Z"
          />
        </g>
      </svg>
      <a href="/products">상품 설정</a>
    </li>
    <li class="cate <% if(cateId ==='styleCate') { %> on <% } %>" id="styleCate">
      <a href="/widgets/styles">
        <svg id="_style_2" data-name="style 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 18.14">
          <g id="_style_2-2" data-name="style 2">
            <g id="style_3" data-name="style 3">
              <path
                class="cls-1"
                d="M2.51,9.61H6.51c.3,0,.5-.21,.5-.53V4.8c0-.32-.2-.53-.5-.53H2.51c-.3,0-.5,.21-.5,.53v4.27c0,.32,.2,.53,.5,.53Zm3.51-4.27v1.6h-1v1.07h1v.53H3.01v-1.6h1v-1.07h-1v-.53s3.01,0,3.01,0Z"
              />
              <path
                class="cls-1"
                d="M4.51,10.67H2.51c-.3,0-.5,.21-.5,.53v2.13c0,.32,.2,.53,.5,.53h2c.3,0,.5-.21,.5-.53v-2.13c0-.32-.2-.53-.5-.53h0Zm-.5,2.13h-1v-1.07h1v1.07Z"
              />
              <path
                class="cls-1"
                d="M8.52,10.67h-2c-.3,0-.5,.21-.5,.53v2.13c0,.32,.2,.53,.5,.53h2c.3,0,.5-.21,.5-.53v-2.13c0-.32-.2-.53-.5-.53h0Zm-.5,2.13h-1v-1.07h1v1.07Z"
              />
              <path
                class="cls-1"
                d="M12.53,10.67h-2c-.3,0-.5,.21-.5,.53v2.13c0,.32,.2,.53,.5,.53h2c.3,0,.5-.21,.5-.53v-2.13c0-.32-.2-.53-.5-.53h0Zm-.5,2.13h-1v-1.07h1v1.07Z"
              />
              <path class="cls-1" d="M8.02,4.27h10.02v1.07H8.02v-1.07Z" />
              <path class="cls-1" d="M8.02,6.4h10.02v1.07H8.02s0-1.07,0-1.07Z" />
              <path class="cls-1" d="M8.02,8.54h10.02v1.07H8.02v-1.07Z" />
              <path
                class="cls-1"
                d="M24.55,11.74h-2.55c.05-.16,.05-.37,.05-.53V2.67c0-1.49-1.1-2.67-2.51-2.67H4.51c-1.2,0-2.25,.91-2.46,2.19-1.2,.21-2.05,1.33-2.05,2.61V13.34c0,1.49,1.1,2.67,2.51,2.67h15.03c.85,0,1.6-.43,2.05-1.17l2,3.1c.1,.16,.25,.21,.4,.21h.1c.2-.05,.35-.21,.4-.43l.45-3.04,1.9-2.03c.2-.21,.2-.53,0-.75-.05-.11-.15-.16-.3-.16h0ZM4.51,1.07h15.03c.85,0,1.5,.69,1.5,1.6V11.21c0,.16-.05,.37-.1,.53h-.9V4.8c0-1.49-1.1-2.67-2.51-2.67H3.11c.2-.64,.75-1.07,1.4-1.07h0Zm13.03,13.88H2.51c-.85,0-1.5-.69-1.5-1.6V4.8c0-.91,.65-1.6,1.5-1.6h15.03c.85,0,1.5,.69,1.5,1.6v6.94h-.5c-.3,0-.5,.21-.5,.53,0,.11,.05,.21,.1,.32l.85,1.28c-.25,.64-.8,1.07-1.45,1.07Zm4.66-.91c-.05,.05-.1,.16-.15,.27l-.3,1.92-2.25-3.42h3.86l-1.15,1.23h0Z"
              />
            </g>
          </g>
        </svg>
        스타일 설정
      </a>
    </li>
    <li class="cate <% if(cateId ==='mypageCate') { %> on <% } %>">
      <svg id="_mypage_2" data-name="mypage 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <g id="_mypage_2-2" data-name="mypage 2">
          <g id="mypage_3" data-name="mypage 3">
            <g>
              <path
                class="cls-1"
                d="M22.07,4.92c.67,0,1.21-.54,1.21-1.21s-.54-1.21-1.21-1.21-1.21,.54-1.21,1.21,.54,1.21,1.21,1.21Zm0-1.61c.22,0,.4,.18,.4,.4s-.18,.4-.4,.4-.4-.18-.4-.4,.18-.4,.4-.4Z"
              />
              <path
                class="cls-1"
                d="M18.84,4.92c.67,0,1.21-.54,1.21-1.21s-.54-1.21-1.21-1.21-1.21,.54-1.21,1.21,.54,1.21,1.21,1.21Zm0-1.61c.22,0,.4,.18,.4,.4s-.18,.4-.4,.4-.4-.18-.4-.4,.18-.4,.4-.4Z"
              />
              <path
                class="cls-1"
                d="M15.61,4.92c.67,0,1.21-.54,1.21-1.21s-.54-1.21-1.21-1.21-1.21,.54-1.21,1.21,.54,1.21,1.21,1.21Zm0-1.61c.22,0,.4,.18,.4,.4s-.18,.4-.4,.4-.4-.18-.4-.4,.18-.4,.4-.4Z"
              />
              <path
                class="cls-1"
                d="M21.66,8.15h-5.65c-.89,0-1.61,.72-1.61,1.61v3.23c0,.89,.72,1.61,1.61,1.61h2.02v.81c0,.16,.1,.31,.25,.37,.05,.02,.1,.03,.15,.03,.11,0,.21-.04,.29-.12l1.09-1.09h1.85c.89,0,1.61-.72,1.61-1.61v-3.23c0-.89-.72-1.61-1.61-1.61h0Zm.81,4.84c0,.45-.36,.81-.81,.81h-2.02c-.11,0-.21,.04-.29,.12l-.52,.52v-.24c0-.22-.18-.4-.4-.4h-2.42c-.45,0-.81-.36-.81-.81v-3.23c0-.45,.36-.81,.81-.81h5.65c.45,0,.81,.36,.81,.81v3.23h0Z"
              />
              <path class="cls-1" d="M16.02,10.16h5.65v.81h-5.65v-.81Z" />
              <path class="cls-1" d="M16.02,11.78h5.65v.81h-5.65v-.81Z" />
              <path
                class="cls-1"
                d="M22.87,18.63h-2.46c-.22-1.32-1.47-2.21-2.79-1.98-1.32,.22-2.21,1.47-1.98,2.79,.2,1.16,1.21,2.02,2.39,2.02,.36,0,.71-.08,1.04-.24l1.46,2.08c.08,.11,.2,.17,.33,.17,.03,0,.06,0,.09,0,.16-.04,.28-.17,.31-.33l.38-2.29,1.52-1.52c.16-.16,.16-.41,0-.57-.08-.08-.18-.12-.28-.12h0Zm-4.84,2.02c-.89,0-1.62-.72-1.62-1.61s.72-1.62,1.61-1.62c.74,0,1.38,.5,1.57,1.21h-1.56c-.22,0-.4,.18-.4,.4,0,.08,.03,.16,.07,.23l.89,1.28c-.18,.07-.37,.1-.56,.1h0Zm2.94-.29c-.06,.06-.1,.14-.11,.22l-.24,1.45-1.81-2.59h3.09l-.92,.92h0Z"
              />
              <path
                class="cls-1"
                d="M22.98,0H2.02C.9,0,0,.9,0,2.02V22.98c0,1.11,.9,2.01,2.02,2.02H22.98c1.11,0,2.01-.9,2.02-2.02V2.02c0-1.11-.9-2.01-2.02-2.02ZM14.11,24.19H2.82v-.81c0-1.59,1.03-2.99,2.55-3.46l.69,2.76c.05,.22,.27,.35,.49,.29,.04,0,.08-.03,.11-.05l1.81-1.09,1.81,1.09c.19,.11,.44,.05,.55-.14,.02-.03,.04-.07,.05-.11l.69-2.76c1.52,.47,2.55,1.88,2.55,3.46v.81h0ZM5.65,14.92v-1.21h.21c1.02,0,1.98-.46,2.61-1.27,.63,.8,1.59,1.27,2.61,1.27h.21v1.21c0,.52-.14,1.02-.41,1.46h0s-.01,.02-.03,.05c-.02,.04-.05,.07-.07,.11h0c-.14,.19-.43,.54-.86,.81h0s-.01,0-.02,0c-.37,.23-.85,.41-1.43,.39h0c-.08,0-.17,0-.25-.01-.35-.03-.66-.12-.92-.24-.47-.21-.88-.55-1.18-1.01-.04-.06-.07-.1-.07-.1h0c-.26-.44-.4-.94-.4-1.45h0Zm-.78,.4h-.02c-.45,0-.81-.36-.81-.81s.36-.81,.81-.81v1.21c0,.13,0,.27,.02,.4Zm-.02-2.42v-1.61c0-1.34,1.08-2.42,2.42-2.42h2.42c1.34,0,2.42,1.08,2.42,2.42v1.61h-1.02c-.95,0-1.82-.54-2.25-1.39-.12-.2-.38-.26-.58-.15-.06,.04-.11,.09-.15,.15-.42,.85-1.3,1.39-2.25,1.39h-1.02Zm7.66,.81c.22,0,.4,.18,.4,.4v.81c0,.22-.18,.4-.4,.4h-.43c.02-.13,.02-.27,.02-.4v-1.21h.4Zm-2.23,6.05h.21c.1,0,.19,0,.29,.01l-.55,2.18-1.15-.69,1.2-1.5h0Zm-1.81,.97l-1.21-1.51v-.88c.39,.14,.8,.21,1.21,.21,.41,0,.82-.07,1.21-.21v.88l-1.21,1.51Zm-1.81-.97l1.2,1.5-1.15,.69-.54-2.18c.09,0,.19-.01,.29-.01h.21Zm17.53,3.23c0,.67-.54,1.21-1.21,1.21H14.92v-.81c0-2.45-1.99-4.43-4.44-4.44v-1.02c.25-.17,.48-.37,.68-.6,.34-.34,.55-.81,.55-.81,.07-.13,.12-.27,.17-.4h.31c.18,0,.34-.02,.45-.03,.46-.06,.86-.37,1.01-.81,.04-.12,.06-.24,.06-.37v-.81c0-.51-.33-.97-.81-1.14v-1.69c0-1.78-1.45-3.22-3.23-3.23h-2.42c-1.78,0-3.22,1.45-3.23,3.23v1.84c-.77,.44-1.04,1.42-.59,2.2,.29,.5,.82,.81,1.4,.81h.21c.26,.74,.75,1.37,1.4,1.81v1.02c-2.45,0-4.43,1.99-4.44,4.44v.81c-.67,0-1.21-.54-1.21-1.21V7.26H24.19v15.73Zm0-16.53H.81V2.02c0-.67,.54-1.21,1.21-1.21H22.98c.67,0,1.21,.54,1.21,1.21V6.45Z"
              />
            </g>
          </g>
        </g>
      </svg>
      <a href="/users/mypage">마이페이지</a>
    </li>
    <li class="cate <% if(cateId ==='order') { %> on <% } %>">
      <a href="/order">결제하기</a>
    </li>
  </ul>
</div>
