<style>
  #side_nav_ct .cate {
    margin: 8px 0;
  }
</style>
<div id="side_nav_ct">
  <ul class="cates">
    <li class="cate"><a href="/stores">매장관리</a></li>
    <li class="cate"><a href="#">카테고리</a></li>
    <li class="cate"><a href="#">카테고리</a></li>
    <li class="cate"><a href="#">카테고리</a></li>
  </ul>
</div>
