<div id="side_nav_ct">
  <ul class="cates">
    <li
      class="cate <% if(cateId ==='storesCate') { %> on <% } %>"
      id="storesCate"
    >
      <a href="/stores">매장 관리</a>
    </li>
    <li
      class="cate <% if(cateId ==='styleCate') { %> on <% } %>"
      id="styleCate"
    >
      <a href="/widgets/styles">스타일 설정</a>
    </li>
    <li
      class="cate <% if(cateId ==='productCate') { %> on <% } %>"
      id="styleCate"
    >
      <a href="/products">상품 설정</a>
    </li>
    <li class="cate <% if(cateId ==='mypageCate') { %> on <% } %>">
      <a href="/users/mypage">마이페이지</a>
    </li>
  </ul>
</div>
