<div id="side_nav_ct">
  <ul class="cates">
    <li
      class="cate <% if(cateId ==='storesCate') { %> on <% } %>"
      id="storesCate"
    >
      <a href="/stores">매장관리</a>
    </li>
    <li class="cate"><a href="#">스타일 설정</a></li>
    <li class="cate"><a href="#">카테고리</a></li>
    <li class="cate"><a href="#">카테고리</a></li>
  </ul>
</div>
