<div id="header">
  <div class="page_title_area">
    <div class="page_title">
      <%- pageTitle -%>
    </div>
    <div class="page_sub_title">
      <%- pageSubTitle -%>
    </div>
  </div>
  <div class="member_info_ct">
    <div class="mall_name">
      <%- mallId -%>
    </div>
    <div>
      <span class="point">
        <%- point.toLocaleString("Ko-kr") -%>
      </span>
      <span>POINT</span>
    </div>
  </div>
</div>
