<div id="header">
  <div class="logo_ct"><a href="/stores">STORE MAP</a></div>
  <div class="member_info_ct">
    <div>
      <span class="point"><%- point.toLocaleString("Ko-kr") %></span>
      <span>POINT</span>
    </div>
    <div class="mall_name"><%- mallId %></div>
  </div>
</div>
