<style>
  .widget_ct {
    display: flex;
  }

  .widget_ct .left {
    width: 70%;
  }
  .widget_ct .right {
    width: 30%;
  }
</style>
<div id="content">
  <div class="content-head">
    <div class="title"><span>스타일 설정</span></div>
  </div>
  <div class="widget_ct">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>
