input#excelUploadBtn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.store > div {
  display: flex;
  width: 100%;
}
.store_ct {
  padding: 12px 0 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.store_ct > .left {
  height: 100%;
  width: 40%;
  border: 1px solid #eee;
  padding: 24px 18px;
  box-sizing: border-box;
  border-radius: var(--default-radius);
}
.store_ct > .right {
  width: 40%;
  height: 100%;
}

.store_ct > .right.product_ct {
  width: 50%;
}

.store_ct > .right.product_ct .title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.store_ct > .right.product_ct .title > span {
  font-family: 'SBAggro';
  font-size: 1.5rem;
  font-weight: 500;
}

.store_ct > .right.product_ct .title .faq_area::before {
  width: 16px;
  height: 16px;
  font-size: 1rem;
  margin-bottom: 4px;
}

.store_ct .btn_area {
  margin-top: 72px;
  position: relative;
  display: flex;
  justify-content: right;
}

.store_ct .btn_area > div[class*='btn'] {
  margin: 0 8px;
}

.store_ct .btn_area > div[class*='btn']:first-child {
  margin-left: 0px;
}
.store_ct .btn_area > div[class*='btn']:last-child {
  margin-right: 0px;
}
.store_ct .btn_area #deleteBtn {
  position: absolute;
  left: 0;
  top: 0;
}

#excelBtnCt {
  border: 1px solid var(--color-excel);
  margin-right: 12px;
  -webkit-box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.05);
}

#smapleExcelDwldBtn {
  -webkit-box-shadow: 0px 23px 15px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(0, 0, 0, 0.05);
}

#excelBtnCt,
#smapleExcelDwldBtn {
  cursor: pointer;
  border-radius: var(--default-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#excelBtnCt label[for='excelUploadBtn'] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

#excelUploadModalBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#excelUploadModalBg.on {
  display: flex;
  justify-content: center;
  align-items: center;
}

#excelUploadModalBg > #excelUploadModal {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--lg-radius);
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 570px;
  height: 250px;
  padding: 26px 24px;
  z-index: 1000;
}
#excelUploadModalBg > #excelUploadModal label[for='excelUploadBtn'] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: var(--default-radius);
  border: 1px solid var(--color-excel);
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-excel);
}

#latLongCt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#latLongCt > div.md-btn {
  flex: 0 1 19%;
  height: 100%;
  margin: 14px 0;
  height: 60px;
}

#latLongCt > div.md-btn span {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
#latLongCt > div.text-field {
  flex: 0 1 49%;
}
.lat_field,
.long_field {
  position: relative;
}
.lat_field::before,
.long_field::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.excel_btn_area .create_btn {
  color: var(--color-excel);
}

.excel_btn_area .create_btn,
.excel_btn_area .sample_dwld_btn {
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excel_btn_area .sample_dwld_btn > a {
  font-family: 'SBAggro';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.excel_btn_area #smapleExcelDwldBtn {
  border: 1px solid var(--color-black);
}

.excel_btn_area {
  display: flex;
  align-items: center;
}

.left .switch_ct {
  margin-top: 0px;
}
.left .switch_ct > div {
  position: initial;
  justify-content: right;
}
.left .switch_input:checked + .switch_label {
  background-color: var(--color-success);
}
.switch_ct > div {
  position: absolute;
  bottom: 32px;
  right: 24px;
}

#excelUploadModal .description_ct {
  margin: 24px 0 12px;
  font-size: 1rem;
}

#excelUploadModal .description {
  font-size: 0.875rem;
  color: var(--color-l-black);
}

.icon_upload {
  position: absolute;
  left: 20px;
}

.eye_icon {
  margin-right: 6px;
  width: 20px;
}
.switch_ct > div > span {
  margin-left: 0;
}

.quantity_area {
  display: flex;
  align-items: center;
}

.submit {
  cursor: pointer;
}

.product_area {
  display: flex;
  width: 100%;
  margin: 16px 0;
  padding: 10px 18px;
  border-bottom: 1px solid #eee;
}
.product_area:nth-last-child(1) {
  margin-bottom: 0;
}

.product_area > div {
  margin: 0 12px;
}
.product_area .prd_img_area {
  font-size: 0px;
}

.product_area .prd_img_area img {
  width: 100%;
  height: 100%;
  border-radius: var(--default-radius);
}

.product_table_head {
  display: flex;
}
.product_table_head.card {
  padding: 12px 18px;
  box-sizing: border-box;
}

.product_table_head .prd_id,
.product_table_head .prd_img_area,
.product_table_head .prd_name_area,
.product_table_head .prd_quantity_area {
  position: relative;
  margin: 0 12px;
  color: #858585;
  font-size: 1rem;
  font-weight: 700;
}

.product_table_head .prd_img_area {
  width: 100px;
}

.prd_img_area {
  display: flex;
  align-items: center;
  justify-self: unset;
  justify-content: center;
}

.product_area .prd_img_area {
  width: 100px;
  height: 100px;
}
.prd_name_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.prd_id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.prd_quantity_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.prd_quantity_area .quantity_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prd_quantity_area input {
  width: 60%;
  border: 1px solid #eee;
  height: 35px;
  padding: 0 12px;
  border-radius: var(--default-radius);
}

.prd_quantity_area .submit {
  width: 35%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-success);
  border-radius: var(--default-radius);
  color: #fff;
  box-sizing: border-box;
}
