body {
  overflow: hidden;
}
.content-head {
  margin-bottom: 24px;
}
.store {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 8px 22px;
  box-sizing: content-box;
  border-radius: var(--default-radius);
  color: var(--color-l-black);
  margin: 12px 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.store div {
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.store:hover {
  transform: scale(1.005);
  box-shadow: 0 2px 10px 0 rgba(255, 119, 119, 0.2);
}

.store.use:hover {
  transform: scale(1.005);
  box-shadow: 0 2px 10px 0 rgba(98, 136, 253, 0.3);
}
.store:after {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 0;
  width: calc(100% - 4px);
  border-bottom: 1px solid #e5dbdb;
}
.store::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color-danger);
}

.store.use::before {
  background-color: #6288fd;
}

.store div {
  color: inherit;
}

.store.wrong_addr {
  background-color: var(--color-l-danger);
  border: 2px solid var(--color-danger);
}

.store .btn_area > div {
  width: 80px;
}

.store.remove {
  filter: blur(6px);
}
.store.remove::before {
  border-radius: var(--default-radius);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.table-head {
  padding: 0 22px;
  box-sizing: border-box;
}

.store_table {
  box-sizing: border-box;
  border-radius: var(--lg-radius);
  padding-bottom: 24px;
  height: 100%;
}

.table-head .name,
.table-head .addr,
.table-head .use_status {
  color: #000;
}

.check_btn_area {
  display: flex;
  align-items: center;
  width: 5%;
}
.name {
  display: flex;
  align-items: center;
  width: 20%;
}
.addr {
  display: flex;
  align-items: center;
  width: 62%;
}
.use_status {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.coord {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
}

.store_name {
  font-weight: 300;
  font-size: 1rem;
}
.table-head > div {
  display: flex;
  align-items: center;
}

#stores .btn_area_ct {
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#stores .btn_area_ct .xi-apps {
  font-size: 2rem;
}

#stores .btn_area_ct .btn-area > div {
  position: absolute;
  cursor: pointer;
  color: #fff;
  right: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stores .btn_area_ct #btnMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stores .btn_area_ct .btn-area.on > div {
  width: 80px;
  height: 80px;
  opacity: 1;
  visibility: visible;
  z-index: 0;
  padding: 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

#stores .btn_area_ct .btn-area > #checkedDeleteBtn {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
  transform: translate3d(0, 0, 0);
  transition: all 0.25s ease;
  font-size: 0px;
}

#stores .btn_area_ct .btn-area > #checkedUseStatusOffBtn {
  border: 1px solid var(--color-l-black);
  color: var(--color-l-black);
  transform: translate3d(0, 0, 0);
  transition: all 0.45s ease;
  font-size: 0px;
}

#stores .btn_area_ct .btn-area > #checkedUseStatusOnBtn {
  border: 1px solid var(--color-success);
  color: var(--color-success);
  transform: translate3d(0, 0, 0);
  transition: all 0.65s ease;
  font-size: 0px;
}

#stores .btn_area_ct .btn-area.on > #checkedDeleteBtn {
  font-size: 1rem;
  transform: translate3d(0, -135px, 0);
  transition: transform 0.15s ease;
}

#stores .btn_area_ct .btn-area.on > #checkedUseStatusOffBtn {
  font-size: 1rem;
  transform: translate3d(0, -230px, 0);
  transition: transform 0.25s ease;
}

#stores .btn_area_ct .btn-area.on > #checkedUseStatusOnBtn {
  font-size: 1rem;
  transform: translate3d(0, -325px, 0);
  transition: transform 0.35s ease;
}

.head_btn_area {
  display: flex;
}

.head_btn_area > div {
  margin: 0 6px;
}

#storeCreateBtn {
  margin-left: 0;
  width: calc((var(--btn-default-wd) * 1.5) + (12px * 3) + 44px);
  -webkit-box-shadow: 0px 23px 15px -10px rgba(0, 171, 115, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(0, 171, 115, 0.05);
}
#coordSetBtn {
  -webkit-box-shadow: 0px 23px 15px -10px rgba(255, 119, 119, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(255, 119, 119, 0.05);
}

.store_count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_ct .area.filter_area {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}

.limit_filter,
.align_filter {
  width: var(--btn-default-wd);
}

.filter_area select {
  cursor: pointer;
  padding: 0 12px;
  width: 100%;
  border: 1px solid var(--color-black);
  border-radius: var(--lg-radius);
  height: 30px;
}

.filter_area select:active,
.filter_area select:focus {
  outline: none;
  border: 1px solid var(--color-black);
}

.area.filter_btn_ct {
  display: flex;
  justify-content: right;
  align-items: center;
}

.area.filter_btn_ct #filterBtn {
  position: relative;
  cursor: pointer;
  border: 1px solid #6288fd;
  color: #6288fd;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-default-wd);
  height: var(--btn-default-ht);
  border-radius: var(--sm-radius);
}

.area.filter_btn_ct .filter_icon {
  margin-right: 8px;
}

.filter_ct {
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 50%;
  width: 340px;
  height: 500px;
  background-color: #fff;
  transform: translate3d(100%, -50%, 0);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
}

.filter_ct.on {
  transform: translate3d(0, -50%, 0);
  visibility: visible;
}

.filter_ct .filter_title {
  width: 30%;
  font-size: 1.125rem;
  margin: 12px 0;
}

.filter_section {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-l-black);
  border-bottom: 1px solid var(--color-l-black);
}

.filter_section:first-child {
  border-bottom: none;
}

.filter_ct .btn-area {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.filter_ct .btn-area .md-btn {
  width: 100%;
}

.filter_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 18px 12px;
  border-top-left-radius: var(--default-radius);
  border-bottom-left-radius: var(--default-radius);
}

.filter_ct .close_btn_ct {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-color: #f9f9f9;
  width: 40px;
}

.filter_ct .close_btn_ct .close_btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_ct .close_btn_ct .close_btn img {
  width: 15px;
  height: 15px;
}

.filter_ct .close_btn_ct .xi-drag-vertical {
  font-size: 38px;
  color: var(--color-black);
}

.switch_ct {
  margin: 0px;
}

.emtpy_store_ct {
  height: 400px;
  width: 100%;
}

.emtpy_store_ct img {
  margin-bottom: 24px;
  width: 160px;
}

.emtpy_store {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emtpy_store span {
  font-size: 1rem;
  font-weight: 600;
}

.coord .icon.off {
  width: 25px;
  height: 25px;
  background: center/cover no-repeat url('/icons/vitals_cut.svg');
}

.coord .icon.on {
  width: 25px;
  height: 25px;
  background: center/cover no-repeat url('/icons/vitals.svg');
}

.use_status .icon.on::before {
  content: 'SHOWING';
  font-weight: 500;
  padding: 4px 16px;
  border-radius: var(--sm-radius);
  background-color: var(--color-l-primary);
  color: var(--color-primary);
}

.use_status .icon.off::before {
  content: 'NOT SHOWING';
  font-weight: 500;
  padding: 4px 16px;
  border-radius: var(--sm-radius);
  background-color: var(--color-l-danger);
  color: var(--color-danger);
}

.icon-location {
  width: 16px;
  height: 16px;
}

.icon_target_location,
.icon_pencil {
  position: absolute;
  left: 15px;
  width: 20px;
}

.drop_box {
  width: var(--btn-default-ht);
  height: var(--btn-default-ht);
  position: relative;
}

.drop_box .drop_menus {
  display: none;
}

.drop_box.on .drop_menus {
  display: block;
}

.drop_menu_btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
}
.drop_menu_btn img {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}

.drop_box.on .drop_menu_btn img {
  transform: rotate(180deg);
}
.drop_menus {
  border-radius: var(--default-radius);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 1;
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: -170px;
  transform: translate3d(-50%, 10%, 0);
  padding: 12px 8px;
  box-sizing: border-box;
}

.drop_menus li {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 12px 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.drop_menus li:nth-child(1) {
  border-top: 1px solid #eee;
}

.drop_menus li.export_excel_btn {
  color: #353535;
}
.drop_menus li.delete_all_btn {
  color: var(--color-danger);
}

.drop_menus li.activate_all_btn {
  color: var(--color-primary);
}

.content-head .area {
  justify-content: space-between;
  position: relative;
}

.head_left {
  display: flex;
  flex-direction: column;
}

.head_left .summary_area {
  margin-bottom: 12px;
}
.head_left .search_area {
  display: flex;
}
.head_left .search_area input#search {
  width: 100%;
  height: 40px;
}

.search_area form {
  width: 100%;
}
