:root {
  --ui-color: #000;
  --ui-text-color: #fff;
  --ui-distance-text-color: #000;
  --ui-active-text-color: #000;
  --ui-text-color: #000;
  --ui-title-text-color: #000;
  --ui-address-text-color: #e1e1e1;
  --ui-map-title-text-color: #fff;
  --ui-map-address-text-color: #e1e1e1;
  --ui-quicksearch-title-text-color: #666666;
  --ui-quicksearch-address-text-color: #979797;
  --ui-quicksearch-title-hover-color: #666666;
  --ui-quicksearch-address-hover-color: #979797;
  --ui-alert-color: #000;
}
body {
  width: 100%;
}
.displaynone {
  display: none !important;
}

.store_pick_btn {
  cursor: pointer;
  fill: var(--ui-color);
}
#copy_alert,
#pickup_alert {
  z-index: 999;
  position: fixed;
  width: 60%;
  height: 50px;
  background-color: var(--ui-color);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  left: 50%;
  top: -100px;
  transform: translate3d(-50%, 0, 0);
  transition: 0.5s ease;
}
#copy_alert.on,
#pickup_alert.on {
  transform: translate3d(-50%, 450%, 0);
  opacity: 1;
}
#header .titleArea h1 {
  border-bottom: none;
  background-color: #00000b;
}
#mCafe24Order.typeHeader {
  padding-top: 120px;
}
#mCafe24Order #ec-jigsaw-area-productdetail {
  margin: 0px;
}
#pickupStore {
  display: none;
  padding: 24px 12px;
  background-color: #fefefe;
}

#pickupStore.on {
  display: block;
}

.search_store_pkup_ct {
  width: 100%;
}
#pickupStore .head {
  display: flex;
  width: 100%;
}
#pickupStore .search_type {
  width: 50%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
#pickupStore .search_type.on {
  background-color: var(--ui-color);
  color: var(--ui-active-text-color);
}
#pickupStore .head .search_type:nth-child(1) {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}
#pickupStore .head .search_type:nth-last-child(1) {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
#pickupStore .search_box {
  display: flex;
  position: relative;
  font-size: 0px;
}
#pickupStore #address {
  height: 42px;
  width: 100%;
  padding: 10px 11px 10px 10px;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  margin-top: 12px;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#pickupStore #submit {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: var(--ui-color);
}
#pickupStore #submit::before {
  color: inherit;
}
#pickupStore #mapTitle {
  display: none;
  width: 100%;
  background-color: var(--ui-color);
  color: #fff;
  margin-top: 24px;
}

#pickupStore #mapTitle .selected_store_name {
  color: var(--ui-map-title-text-color);
}
#pickupStore #mapTitle .pickup_store {
  color: inherit;
  font-size: 1rem;
}
#pickupStore #storeName {
  margin-left: 4px;
  font-size: 1rem;
  color: inherit;
}
#pickupStore #mapTitle .title {
  padding: 14px 12px;
}

#pickupStore #storeAddress {
  font-size: 14px;
  color: var(--ui-map-address-text-color);
}
#orderFixItem {
  position: relative;
}
#orderFixItem:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#orderFixItem.accept:before {
  display: none;
}

#pickupStore .store_list_ct {
  border-radius: 20px 20px 0 0;
  width: 100%;
  background: #fff;
  transition: all 0.25s linear;
  display: none;
}

#pickupStore .store_list_ct .store .store_name {
  color: var(--ui-title-text-color);
}
#pickupStore .store_list_ct .store .address {
  color: var(--ui-address-text-color);
}

#pickupStore .store_list_ct.on {
  height: 300px;
  overflow-y: scroll;
  display: initial;
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide {
  margin: 12px 0 12px;
  overflow-y: scroll;
  opacity: 0 !important;
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--ui-color); /* 스크롤바의 색상 */
  border-radius: 10px;
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5); /*스크롤바 뒷 배경 색상*/
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide > .store {
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
  border-top: 1px solid #ededed;
}

#pickupStore .store_list_ct .store-info-container div.swiper-slide > .store .chk_btn {
  fill: var(--ui-color);
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide > .store .right {
  display: flex;
  align-items: center;
  justify-content: right;
}
#pickupStore .store_list_ct .store-info-container div.swiper-slide > div:nth-last-child(1) {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
#pickupStore .store_list_ct .swiper-button-next,
#pickupStore .store_list_ct .swiper-button-prev {
  top: initial;
  bottom: 20px;
  height: initial;
  position: initial;
  margin: 0;
}
#pickupStore .store_list_ct .swiper-button-next:after,
#pickupStore .store_list_ct .swiper-button-prev:after {
  font-size: 10px;
}
#pickupStore .store_list_ct .swiper-button-prev,
#pickupStore .store_list_ct .swiper-rtl .swiper-button-next {
  left: 33%;
  color: #666;
}
#pickupStore .store_list_ct .swiper-button-next,
#pickupStore .store_list_ct .swiper-rtl .swiper-button-prev {
  right: 33%;
  color: #666;
}
#pickupStore .store_list_ct .swiper-pagination-horizontal .swiper-pagination-bullet:nth-child(n + 11) {
  display: none;
}
.swiper-pagination-lock {
  display: none !important;
}
body #pickupStore .store_list_ct .swiper-pagination {
  position: initial;
  width: auto;
}
#pickupStore .store_list_ct .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #151515;
  opacity: 1;
  background: #fff;
}
#pickupStore .store_list_ct .swiper-pagination-bullet-active {
  color: var(--ui-active-text-color);
  background: var(--ui-color);
}

#pickupStore .store_list_ct .distance {
  color: var(--ui-distance-text-color);
}

#pickupStore .store_list_ct .cont {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#pickupStore .store_list_ct .cont.on {
  display: flex;
}
#lShippingCompanyLists {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}

#pickupStore #searchListCt {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  background-color: #fff;
  z-index: 101;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.15);
}
#pickupStore #searchListCt .store {
  padding: 10px 0;
  border-top: 1px solid #ededed;
  cursor: pointer;
}
#pickupStore #searchListCt .store > div {
  transition: all 0.3s;
}
#pickupStore #searchListCt .store:hover > div {
  transform: scale(1.005);
}

#pickupStore #searchListCt .store:hover > .store_name h1 {
  color: var(--ui-quicksearch-title-hover-color);
}
#pickupStore #searchListCt .store:hover > .store_addr span {
  color: var(--ui-quicksearch-address-hover-color);
}
#pickupStore #searchListCt .store:nth-last-child(1) {
  border-bottom: 1px solid #ededed;
}
#pickupStore #searchListCt .store_name h1,
#pickupStore #searchListCt .store_addr span {
  font-size: 14px;
}
#pickupStore #searchListCt .store_name h1 {
  color: var(--ui-quicksearch-title-text-color);
  padding-bottom: 6px;
  box-sizing: border-box;
}
#pickupStore #searchListCt .store_addr span {
  color: var(--ui-quicksearch-address-text-color);
}

#map,
#map:focus {
  outline: none;
}
#map .iw_inner .content {
  padding: 10px;
}

#map .iw_inner .btn-box {
  display: flex;
  width: 100%;
}

#map .iw_inner.btn-box .close-btn {
  border-right: 1px solid var(--ui-color);
}

#map .iw_inner .btn-box div {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--ui-color);
  height: 40px;
}

#map .iw_inner .btn-box .pickup-btn {
  display: flex;
  background-color: var(--ui-color);
  color: #fff;
  border-radius: 0 0 8px 0;
}

#map > div > div > div > div > div > div > div {
  border-radius: 10px;
}

#pickUpStoreBtn {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: var(--ui-color);
}

#pickUpStoreBtn::before {
  content: '매장 선택';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.125rem;
}

#pickUpStoreBtn.loading::before {
  content: '위치정보를 불러오는 중입니다.';
}

#pickUpStoreBtn .guard {
  cursor: not-allowed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
