.content-head .area {
  margin-bottom: 30px;
}
.page_title .title {
  display: flex;
}
input#excelUploadBtn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.store > div {
  display: flex;
  width: 100%;
}
.store_ct {
  padding: 12px 0 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.store_ct > .left {
  height: 100%;
  width: 40%;
  border: 1px solid #eee;
  padding: 24px 18px;
  box-sizing: border-box;
  border-radius: var(--default-radius);
}
.store_ct > .right {
  width: 40%;
  height: 100%;
}

.store_ct > .right.product_ct {
  position: relative;
  padding-left: 68px;
  width: 50%;
}

.store_ct > .right.product_ct .title {
  position: absolute;
  left: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 56px);
}

.store_ct > .right.product_ct .title span {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
}

.store_ct > .right.product_ct .title .notice_area::before {
  width: 16px;
  height: 16px;
  font-size: 1rem;
  margin-bottom: 3px;
}

.store_ct .btn_area {
  margin-top: 72px;
  position: relative;
  display: flex;
  justify-content: right;
}

.store_ct .btn_area > div[class*='btn'] {
  margin: 0 8px;
}

.store_ct .btn_area > div[class*='btn']:first-child {
  margin-left: 0px;
}
.store_ct .btn_area > div[class*='btn']:last-child {
  margin-right: 0px;
}

.store_ct .btn_area #deleteBtn {
  font-size: 14px;
  color: #a1a1a1;
  background: linear-gradient(to right, var(--color-danger) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease, color 0.25s ease;
  border: none;
}
.store_ct .btn_area #deleteBtn:hover {
  color: #fff;
  background-position: 0;
}

#excelBtnCt {
  border: 1px solid var(--color-excel);
  margin-right: 12px;
  -webkit-box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.05);
}

#smapleExcelDwldBtn {
  -webkit-box-shadow: 0px 23px 15px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 23px 15px -10px rgba(0, 0, 0, 0.05);
}

#excelBtnCt,
#smapleExcelDwldBtn {
  cursor: pointer;
  border-radius: var(--sm-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#excelBtnCt label[for='excelUploadBtn'] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

#excelUploadModalBg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#excelUploadModalBg.on {
  display: flex;
  justify-content: center;
  align-items: center;
}

#excelUploadModalBg > #excelUploadModal {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--sm-radius);
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: max-content;
  height: max-content;
  padding: 26px 24px;
  z-index: 1000;
}
#excelUploadModalBg > #excelUploadModal label[for='excelUploadBtn'] {
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 140px;
  border-radius: var(--default-radius);
  border: 1px solid var(--color-excel);
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-excel);
}

#excelUploadModalBg > #excelUploadModal label[for='excelUploadBtn'] > div {
  color: var(--color-excel);
}

#latLongCt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#latLongCt > div.md-btn {
  flex: 0 1 19%;
  height: 100%;
  margin: 14px 0;
  height: 60px;
}

#latLongCt > div.md-btn span {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
#latLongCt > div.text-field {
  flex: 0 1 49%;
}
.lat_field,
.long_field {
  position: relative;
}
.lat_field::before,
.long_field::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.excel_btn_area .create_btn {
  color: var(--color-excel);
  margin-right: 16px;
}

.excel_btn_area .create_btn,
.excel_btn_area .sample_dwld_btn {
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excel_btn_area .sample_dwld_btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: initial;
  height: initial;
  font-size: 1rem;
}

.excel_btn_area #smapleExcelDwldBtn {
  border: 1px solid var(--color-black);
}

.excel_btn_area {
  display: flex;
  align-items: center;
}

.left .switch_ct {
  margin-top: 0px;
}
.left .switch_ct > div {
  position: initial;
  justify-content: right;
}
.left .switch_input:checked + .switch_label {
  background-color: var(--color-success);
}
.switch_ct > div {
  position: absolute;
  bottom: 32px;
  right: 24px;
}

#excelUploadModal .description_ct {
  margin: 52px 0 0;
  font-size: 1rem;
}

#excelUploadModal .description {
  font-size: 0.875rem;
  color: var(--color-l-black);
}
#excelUploadModal .title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.icon_upload {
  width: 100px;
}

.eye_icon {
  margin-right: 6px;
  width: 20px;
}
.switch_ct > div > span {
  margin-left: 0;
}

.quantity_area {
  display: flex;
  align-items: center;
}

.submit {
  cursor: pointer;
}

.product_area {
  border-radius: 0rem 0.25rem 0.25rem 0.25rem;
  position: relative;
  display: flex;
  width: 100%;
  margin: 16px 0;
  padding: 10px 18px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
}
.product_area:nth-last-child(1) {
  margin-bottom: 0;
}

.product_area > div {
  margin: 0 12px;
}
.product_area > div span {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_area .prd_img_area {
  font-size: 0px;
}

.product_area .prd_img_area img {
  width: 100%;
  height: 100%;
  border-radius: var(--default-radius);
}

.product_table_head {
  display: flex;
}
.product_table_head.card {
  margin-top: 90px;
  border-radius: var(--sm-radius);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 18px;
  box-sizing: border-box;
}

.product_table_head .prd_img_area,
.product_table_head .prd_name_area,
.product_table_head .prd_quantity_area {
  position: relative;
  margin: 0 12px;
  font-size: 1rem;
  font-weight: 400;
}

.product_table_head .prd_img_area span,
.product_table_head .prd_name_area span,
.product_table_head .prd_quantity_area span {
  color: #000;
}
.product_table_head .prd_img_area {
  width: 100px;
}

.prd_img_area {
  display: flex;
  align-items: center;
  justify-self: unset;
  justify-content: center;
}

.product_area .prd_img_area {
  width: 100px;
  height: 100px;
}
.prd_name_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.product_area div.prd_id {
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  left: 1px;
  min-width: 40px;
  width: max-content;
  min-height: 30px;
  transform: translate3d(-100%, 0, 0);
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.05);
  top: -1px;
}

.product_area div.prd_id span {
  color: var(--color-black);
}
.prd_quantity_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.prd_quantity_area .quantity_area {
  display: flex;
  align-items: center;
}

.prd_quantity_area input {
  width: 60%;
  border: 1px solid #eee;
  height: 35px;
  padding: 0 12px;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.prd_quantity_area .submit {
  width: 35%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-success);
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background: #353535;
  color: #fff;
  box-sizing: border-box;
}

.add_user_modal_btn {
  cursor: pointer;
  min-width: var(--btn-sm-wd);
  margin-left: 20px;
  max-width: 200px;
  min-height: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.add_user_modal_btn span {
  font-size: 1rem;
  font-weight: 400;
}

.add_user_modal_btn > svg {
  margin-right: 8px;
}

.add_store_user_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.add_store_user_area {
  min-width: 430px;
  background-color: #fff;
}

.add_store_user_area .title {
  font-size: 20px;
}

.product_ct .title .text-field input[type='text'] {
  height: 40px;
}
