.btn_area {
  display: flex;
}

.btn_area > div[class*='btn']:first-child {
  margin-left: 0px;
}

.btn_area > div[class*='btn']:last-child {
  margin-right: 0px;
}

.btn_area > div[class*='btn'] {
  margin: 0 4px;
}
