input#excelUploadBtn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.store > div {
  display: flex;
  width: 100%;
}
.store_ct {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.store_ct > .left {
  height: 100%;
  width: 40%;
  border: 1px solid #eee;
  padding: 24px 18px;
  box-sizing: border-box;
  border-radius: var(--default-radius);
}
.store_ct > .right {
  width: 40%;
  height: 100%;
}
.store_ct .btn_area {
  margin-top: 36px;
  position: relative;
  display: flex;
  justify-content: right;
}

.store_ct .btn_area > div[class*='btn'] {
  margin: 0 8px;
}

.store_ct .btn_area > div[class*='btn']:first-child {
  margin-left: 0px;
}
.store_ct .btn_area > div[class*='btn']:last-child {
  margin-right: 0px;
}
.store_ct .btn_area #deleteBtn {
  position: absolute;
  left: 0;
  top: 0;
}

#excelBtnCt {
  border: 1px solid #1d6f42;
  background-color: #1d6f42;
  margin-right: 12px;
  -webkit-box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.2);
  box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.2);
}

#smapleExcelDwldBtn {
  -webkit-box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.1);
  box-shadow: 0px 23px 15px -10px rgba(29, 111, 66, 0.1);
}

#excelBtnCt,
#smapleExcelDwldBtn {
  cursor: pointer;
  border-radius: var(--lg-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#excelBtnCt label[for='excelUploadBtn'] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

#excelUploadModalBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#excelUploadModalBg.on {
  display: flex;
  justify-content: center;
  align-items: center;
}

#excelUploadModalBg > #excelUploadModal {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--lg-radius);
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 570px;
  height: 250px;
  padding: 26px 24px;
  z-index: 1000;
}
#excelUploadModalBg > #excelUploadModal label[for='excelUploadBtn'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: var(--lg-radius);
  border: 1px solid #eee;
  font-size: 1.175rem;
  cursor: pointer;
  background-color: #1d6f42;
  color: #eee;
}

#latLongCt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#latLongCt > div.md-btn {
  flex: 0 1 19%;
  height: 100%;
  margin: 14px 0;
  height: 60px;
}

#latLongCt > div.md-btn span {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
#latLongCt > div.text-field {
  flex: 0 1 49%;
}
.lat_field,
.long_field {
  position: relative;
}
.lat_field::before,
.long_field::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.excel_btn_area .create_btn {
  color: #fff;
}

.excel_btn_area .create_btn,
.excel_btn_area .sample_dwld_btn {
  font-size: 1.125rem;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excel_btn_area .sample_dwld_btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
}

.excel_btn_area #smapleExcelDwldBtn {
  border: 1px solid #1d6f42;
}

.excel_btn_area {
  display: flex;
  align-items: center;
}

.left .switch_ct {
  margin-top: 0px;
}
.left .switch_ct > div {
  position: initial;
}
.left .switch_input:checked + .switch_label {
  background-color: var(--color-success);
}
.switch_ct > div {
  position: absolute;
  bottom: 32px;
  right: 24px;
}

#excelUploadModal .description_ct {
  margin: 24px 0 12px;
  font-size: 1rem;
}

#excelUploadModal .description {
  font-size: 1rem;
  color: var(--color-black);
}
