<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <script>
    // 처음 방문되는 페이지
    const param = new URLSearchParams(window.location.search);
    const mallId = param.get('mall_id');
    const userName = param.get('user_name');
    const redirectURI = 'https://storemap-389307.du.r.appspot.com/cafe24/oauth';

    if (!mallId) {
      alert('잘못된 접근입니다.');
      window.location.href = 'https://www.cafe24.com/';
    }

    const getAuthCode = () => {
      // auth_code 요청 후 응답이 제대로 됐다면 redirectURI 로 이동
      window.location.href = `https://${mallId}.cafe24api.com/api/v2/oauth/authorize?response_type=code&client_id=eFYBhLMOCSGAFEuw4IIZOF&state=MTIzNDU2Nzg=&redirect_uri=${redirectURI}&scope=mall.read_application,mall.write_application,mall.read_product,mall.write_product`;
    };

    if (param.get('mall_id')) {
      sessionStorage.setItem('mall_id', mallId);
      sessionStorage.setItem('user_name', userName);

      getAuthCode();
    }
  </script>
</html>
