<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="message" data-res-data="<%- message -%>"></div>
    <div id="redirectURI" data-res-data="<%- redirectURI -%>"></div>
    
    <script>
      alert(message.dataset.resData);
      window.location.href = redirectURI.dataset.resData
    </script>
  </body>
</html>
