<html lang="ko" style="overflow: hidden">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/stores/store_pickup.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="loading" id="pickUpStoreBtn">
      <div class="guard"></div>
    </div>
    <div id="pickupStore">
      <div class="search_store_pkup_ct">
        <div class="head">
          <div class="search_type on" data-type="store">매장 검색</div>
          <div class="search_type" data-type="dong">동단위 검색</div>
        </div>
        <div class="search_box">
          <input id="address" type="text" placeholder="검색할 주소" value="" />
          <i id="submit" class="xi-search"></i>
          <div id="searchListCt"></div>
        </div>
      </div>
      <div class="store_list_ct on">
        <div class="swiper-container">
          <div class="store-info-container swiper-wrapper"></div>
          <div class="cont">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div id="mapTitle">
        <div class="title">
          <div class="selected_store_name">
            <span class="pickup_store">픽업 매장</span>
            <span id="storeName"></span>
            <div class="user_renew_btn" id="mapRenewBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                <g clip-path="url(#clip0_164_201)">
                  <path
                    d="M2.58741 3.73332C2.48595 3.54666 2.3084 3.54666 2.20694 3.73332L0.0509449 7.65332C-0.0505135 7.83999 0.0382626 7.99999 0.24118 7.99999H4.55316C4.75608 7.99999 4.84486 7.83999 4.7434 7.65332L2.58741 3.73332Z"
                  />
                  <path
                    d="M17.8062 12.2667C17.7047 12.4533 17.5271 12.4533 17.4257 12.2667L15.2697 8.34667C15.1682 8.16 15.257 8 15.4599 8H19.7719C19.9748 8 20.0636 8.16 19.9621 8.34667L17.8062 12.2667Z"
                  />
                  <path
                    d="M10.0064 14.7734C6.45531 14.7734 3.56374 11.7334 3.56374 8.00002C3.56374 7.32002 3.69057 6.68002 3.86812 6.06669L3.0945 4.66669C2.65062 5.68002 2.39697 6.81335 2.39697 8.00002C2.39697 12.4134 5.80851 16 10.0064 16C11.0336 16 11.9975 15.7867 12.8979 15.4L12.3019 14.3067C11.5916 14.6 10.818 14.7734 10.019 14.7734H10.0064Z"
                  />
                  <path
                    d="M17.6159 8C17.6159 3.58667 14.2044 0 10.0065 0C9.06806 0 8.16761 0.186667 7.34326 0.52L7.95201 1.62667C8.59881 1.38667 9.28365 1.24 10.0192 1.24C13.5703 1.24 16.4618 4.28 16.4618 8.01333C16.4618 8.69333 16.335 9.33333 16.1575 9.94667L16.9311 11.3467C17.375 10.3333 17.6286 9.2 17.6286 8.01333L17.6159 8Z"
                  />
                </g>
              </svg>
            </div>
          </div>
          <div>
            <span id="storeAddress"></span>
          </div>
        </div>
      </div>
      <div
        id="map"
        style="display: none; width: 100%; height: 300px; position: relative; overflow: hidden; visibility: hidden; opacity: 0"
      ></div>
    </div>
  </body>

  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=314f4enpbp&submodules=geocoder"></script>
  <script type="text/javascript" src="js/createStorePickup.js"></script>
</html>
