.order_area#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
.payment_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_area .payment_area > .card {
  cursor: pointer;
  background-color: #fff;
  position: relative;
  padding: 22px 32px;
  width: 20%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.order_area .payment_area > .card.recommend {
  border-radius: 0 0 8px 8px;
}

.order_area .payment_area > .card.recommend::before {
  border-radius: 8px 8px 0 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-weight: 300;
  content: '추천상품';
  font-size: 1rem;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'SBAggro';
  background-color: var(--color-primary);
  position: absolute;
  height: 32px;
  top: -30px;
  left: 0;
}

.order_area .payment_area > .card div {
  font-family: 'SBAggro';
}

.order_area .payment_area > .card .price,
.order_area .payment_area > .card .order_btn {
  font-weight: 300;
}
.order_area .payment_area .product_name {
  font-size: 1.875rem;
}

.order_area .payment_area .section {
  padding: 0 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_area .payment_area .origin_price {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}

.order_area .payment_area .origin_price .price {
  font-size: 1.75rem;
  color: #858585;
  text-decoration: line-through;
}

.order_area .payment_area .disc {
  background-color: #d9d9d9;
  font-size: 1rem;
  color: var(--color-danger);
  padding: 6px 8px;
  border-radius: 30px;
}
.order_area .payment_area .sell_price {
  transition: 0.3s ease;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 28px;
  width: 100%;
}

.order_area .payment_area .order_btn {
  transition: 0.3s ease;
  cursor: pointer;
  padding: 15px 26px;
  font-size: 1.25rem;
  background-color: var(--color-success);
  color: #fff;
  border-radius: var(--default-radius);
}

.order_area .payment_area > .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 25px 0px rgba(98, 136, 253, 0.15);
}

.notice_ct {
  width: 100%;
  line-height: 20px;
}
.notice_ct p {
  display: flex;
  align-items: center;
}
.notice_ct p span {
  margin: 0 4px;
}
.notice_ct p:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-right: 8px;
  background-color: #000;
  display: inline-block;
  border-radius: 100%;
}

@media all and (max-width: 1920px) {
  .order_area .payment_area .origin_price .price {
    font-size: 1.5rem;
  }
  .order_area .payment_area .sell_price {
    font-size: 1.875rem;
  }
  .order_area .payment_area .product_name {
    font-size: 1.75rem;
  }
  .order_area .payment_area .disc {
    font-size: 0.875rem;
  }
  .order_area .payment_area .section {
    padding: 0 22px;
  }
}

@media all and (max-width: 1756px) {
  .order_area .payment_area > .card {
    min-height: 270px;
    padding: 22px 22px;
  }
  .order_area {
    padding: var(--top-margin) 30px 0;
  }

  .order_area .payment_area .origin_price .price {
    font-size: 1.25rem;
  }
  .order_area .payment_area .sell_price {
    font-size: 1.5rem;
  }
  .order_area .payment_area .product_name {
    font-size: 1.5rem;
  }
  .order_area .payment_area .disc {
    font-size: 0.875rem;
  }
  .order_area .payment_area .section {
    padding: 0 22px;
  }
}

@media all and (max-width: 1500px) {
  .order_area .payment_area > .card {
    min-height: 230px;
    padding: 22px 22px;
  }
  .order_area {
    padding: var(--top-margin) 30px 0;
  }

  .order_area .payment_area .origin_price .price {
    font-size: 1rem;
  }
  .order_area .payment_area .sell_price {
    font-size: 1.125rem;
  }
  .order_area .payment_area .product_name {
    font-size: 1.25rem;
  }
  .order_area .payment_area .disc {
    font-size: 0.875rem;
  }
  .order_area .payment_area .section {
    padding: 0 22px;
  }
  .order_area .payment_area .order_btn {
    font-size: 1rem;
  }
}

@media all and (max-width: 950px) {
  .order_area .payment_area .origin_price .price {
    margin-right: 8px;
  }
  .order_area .payment_area .origin_price {
    justify-content: center;
  }
  .payment_area {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .order_area .payment_area > .card {
    width: 40%;
  }
}
