#content {
  height: 100%;
  padding-bottom: 80px;
}
.card {
  width: 600px;
  margin: 0 auto;
}
.content_col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.card-field {
  height: 70px;
}

.origin_ct {
  margin-top: 80px;
}

.origin_ct .text-field,
.kakao_ct .text-field {
  display: flex;
}

.origin_ct .md-btn,
.kakao_ct .md-btn {
  height: 60px;
}

.card > .btn-area {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid #eee;
}

.content-head .area {
  margin: 0 auto;
  width: 600px;
}

.text-field.id {
  cursor: not-allowed;
  position: relative;
}

.text-field.id::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.015);
}

#submit {
  font-size: 1rem;
  height: 50px;
}
