#header {
  position: fixed;
  width: calc(100% - var(--side-nav-w));
  height: var(--header-h);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: var(--color-main-bg);
  z-index: 102;
  justify-content: right;
  padding: 0 24px;
}

#header .member_info_ct {
  display: flex;
}

#header .member_info_ct > div {
  margin: 0 12px;
}

#header .page_title_area .page_title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black);
}

#header .page_title_area .page_sub_title {
  font-size: 14px;
  font-weight: 600;
  color: #858585;
  margin-top: 2px;
}
