:root {
  --header-h: 60px;
  --top-margin: 66px;
  --color-main-bg: #fff;
  --color-bg-focus: #ebe2cd;
  --color-primary: #6288fd;
  --color-l-primary: #e7eeff;
  --color-danger: #f25a5a;
  --color-l-danger: #fae3e5;
  --color-accent-clear: #ee6425;
  --color-accent-dull: #833500;
  --color-success: #00ab73;
  --color-black: #353535;
  --color-l-black: #666;
  --color-grey: #e9e9e9;
  --color-apricot: #fffaf3;
  --color-excel: #1d6f42;
  --default-radius: 8px;
  --lg-radius: 30px;
  --btn-default-wd: 200px;
  --btn-default-ht: 50px;
  --tw-shadow: inset 0 0px 8px 0 rgb(0 0 0 / 0.05);
  --tw-ring-offset-shadow: 0 0 #2f262600;
  --tw-ring-shadow: 0 0 #0000;
  --spacer: 1rem;
}

.mb-1 {
  margin-bottom: calc(var(--spacer) * 0.25) !important;
}
.mb-2 {
  margin-bottom: calc(var(--spacer) * 0.5) !important;
}
.mb-3 {
  margin-bottom: calc(var(--spacer)) !important;
}
.mb-4 {
  margin-bottom: calc(var(--spacer) * 1.5) !important;
}
.mb-5 {
  margin-bottom: calc(var(--spacer) * 3) !important;
}

.mt-1 {
  margin-top: calc(var(--spacer) * 0.25) !important;
}
.mt-2 {
  margin-top: calc(var(--spacer) * 0.5) !important;
}
.mt-3 {
  margin-top: calc(var(--spacer)) !important;
}
.mt-4 {
  margin-top: calc(var(--spacer) * 1.5) !important;
}
.mt-5 {
  margin-top: calc(var(--spacer) * 3) !important;
}

.mr-1 {
  margin-right: calc(var(--spacer) * 0.25) !important;
}
.mr-2 {
  margin-right: calc(var(--spacer) * 0.5) !important;
}
.mr-3 {
  margin-right: calc(var(--spacer)) !important;
}
.mr-4 {
  margin-right: calc(var(--spacer) * 1.5) !important;
}
.mr-5 {
  margin-right: calc(var(--spacer) * 3) !important;
}

.ml-1 {
  margin-left: calc(var(--spacer) * 0.25) !important;
}
.ml-2 {
  margin-left: calc(var(--spacer) * 0.5) !important;
}
.ml-3 {
  margin-left: calc(var(--spacer)) !important;
}
.ml-4 {
  margin-left: calc(var(--spacer) * 1.5) !important;
}
.ml-5 {
  margin-left: calc(var(--spacer) * 3) !important;
}

.c-primary {
  color: var(--color-primary) !important;
}

.c-success {
  color: var(--color-success) !important;
}
.c-danger {
  color: var(--color-danger) !important;
}

.c-accent-clear {
  color: var(--color-accent-clear) !important;
}

.bold {
  font-weight: bold !important;
}

body {
  background-color: var(--color-main-bg);
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('icons/side_nav_cover.svg');
}

select {
  background: #fff url(https://skinnypig2018.cafe24.com/icons/select_arrow.svg) no-repeat 95% 50%/13px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='radio'] {
  cursor: pointer;
  border: 1px solid var(--color-black);
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio'] + label {
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: var(--color-black);
}

input[type='radio'].full {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

input[type='radio'].full:checked {
  background-color: transparent;
}

input[type='radio'].full:checked + label {
  padding: 12px 24px;
  box-sizing: border-box;
  color: var(--color-primary);
  font-weight: 600;
}
.displaynone {
  display: none !important;
}

[class*='-btn'] {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  height: 40px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: var(--default-radius);
}

.md-btn {
  min-width: 110px;
}
.full-btn {
  width: 100%;
}
.md-btn,
.md-btn > span,
.md-btn > a {
  font-size: 1rem;
}

div[class*='btn'] > a {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.bg-primary,
.bg-primary > a,
.bg-primary > span {
  background-color: var(--color-primary);
  color: #fff;
}

.bg-danger,
.bg-danger > a,
.bg-danger > span {
  background-color: var(--color-danger);
  color: #fff;
}

.bg-white,
.bg-white > a,
.bg-white > span {
  color: #000;
  background-color: #fff;
}

.bg-success,
.bg-success > a,
.bg-success > span {
  color: #fff;
  background-color: var(--color-success);
}

.bg-white {
  border: 1px solid;
}

.alert_modal {
  position: fixed;
  z-index: 2147483647;
  width: max-content;
  height: 60px;
  left: 50%;
  top: -100px;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 0 16px;
  line-height: 20px;
}

.alert_modal.on {
  top: var(--btn-default-ht);
}

#content-ct {
  display: flex;
  height: calc(100% - var(--header-h));
}

#content-area {
  overflow: scroll;
  box-shadow: -1px 20px 20px 0 rgba(98, 136, 253, 0.15);
  width: 100%;
  height: 100%;
}

#content {
  overflow: scroll;
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--color-main-bg);
}

.table-head {
  display: flex;
  border-left: none;
  border-right: none;
  height: 54px;
}

.table-head span,
.table-head i {
  font-size: 1rem;
  font-weight: 700;
  color: #858585;
  display: flex;
  align-items: center;
}
.table-head i {
  font-size: 1rem;
}
.content-head {
  width: 100%;
  margin: var(--top-margin) 0 42px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-head .area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.page_title {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
}

.page_title .title_ct {
  display: flex;
  flex-direction: column;
}
.page_title .title {
  font-family: 'SBAggro';
  margin-bottom: 0.5rem;
  font-size: 2.375rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-black);
}
.page_title .sub_title {
  font-family: 'SBAggro';
  font-size: 1.125rem;
  font-weight: 300;
  color: #858585;
}

.page_title .count {
  position: absolute;
  background-color: var(--color-black);
  right: -34px;
  top: -12px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.page_title .count,
.page_title .count > span {
  font-size: 1rem;
  color: #fff;
}
.page_title .count > span {
  margin-top: 2px;
}
.btn-area {
  display: flex;
  justify-content: right;
}

.btn-area > div[class*='btn']:first-child {
  margin-left: 0px;
}

.btn-area > div[class*='btn']:last-child {
  margin-right: 0px;
}

.btn-area > div[class*='btn'] {
  margin: 0 4px;
}

.active-btn {
  font-family: 'SBAggro';
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  border-radius: var(--default-radius);
  width: var(--btn-default-wd);
  height: var(--btn-default-ht);
}

.active-btn::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
}

.active-btn.primary {
  border: 1px solid var(--color-primary);
}
.active-btn.primary::before {
  background-color: var(--color-primary);
}

.active-btn.success {
  border: 1px solid var(--color-success);
}
.active-btn.success::before {
  background-color: var(--color-success);
}

.active-btn.accent-clear {
  border: 1px solid var(--color-accent-clear);
}
.active-btn.accent-clear::before {
  background-color: var(--color-accent-clear);
}

.active-btn.danger {
  border: 1px solid var(--color-danger);
}
.active-btn.danger::before {
  background-color: var(--color-danger);
}

.active-btn a,
.active-btn span {
  font-family: 'SBAggro';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  margin-left: 14px;
  color: var(--color-black);
  cursor: pointer;
}
.switch_ct {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch_ct > div {
  height: 30px;
  display: flex;
  align-items: center;
}
.switch_ct > div > span {
  margin-right: 14px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  color: var(--color-black);
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  transition: all 0.25s ease-in;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.switch_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.switch_input + .switch_label {
  background-color: var(--color-danger);
}

.switch_input:checked + .switch_label {
  background-color: var(--color-success);
}

.switch_label::before {
  transition: all 0.35s ease-in;
}

.switch_input + .switch_label::before {
  content: '';
  position: absolute;
  right: inherit;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.switch_input:checked + .switch_label::before {
  left: 55px;
}

.right .description_ct .title {
  font-family: 'SBAggro';
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.right .description_ct .description {
  position: relative;
  display: flex;
  font-size: 1rem;
  border-radius: var(--default-radius);
  padding: 14px 12px;
  margin-bottom: 16px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.right .description_ct .description .flex-column,
.right .description_ct .description span:nth-of-type(2) {
  padding-left: 8px;
}

.right .description_ct .description span:not(.circle),
.right .description_ct .description p:not(.circle) {
  font-size: 1rem;
  display: block;
  color: var(--color-l-black);
}
.right .description_ct .description.important {
  border: 1px solid var(--color-danger);
}

.right .description_ct .description > span.important {
  font-weight: 600;
  font-size: 1rem;
}
.right .description_ct .description:nth-last-child(1) {
  margin: 0px;
}

.right .description_ct .description > .circle {
  font-size: 0.875rem;
  margin-top: 2px;
}

.ct-shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.ct-radius {
  border-radius: var(--default-radius);
}
.card-field {
  border: 1px solid #eee;
}
.text-field,
.card-field {
  width: 100%;
  position: relative;
  margin: 24px 0;
}

.card-field {
  border-radius: var(--default-radius);
}

.text-field label,
.card-field > span:first-child {
  font-family: 'SBAggro';
  display: block;
  position: absolute;
  left: 15px;
  top: -6px;
  background-color: #fff;
  padding: 0 4px;
  box-sizing: border-box;
  transition: color 0.1s ease-in;
}

.text-field.required label::after,
.card-field.required > span:first-child::after {
  content: '*';
  color: var(--color-danger);
}

.text-field input[type='text'],
.text-field input[type='number'],
.text-field input[type='password'] {
  width: 100%;
  height: 60px;
  border-radius: var(--default-radius);
  border: 1px solid #eee;
  transition: border 0.2s ease-in;
  padding: 0 20px;
  font-size: 1rem;
}

.text-field input[type='text']:focus,
.text-field input[type='number']:focus,
.text-field input[type='password']:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.text-field input[type='text']:focus + label,
.text-field input[type='number']:focus + label,
.text-field input[type='password']:focus + label {
  color: var(--color-primary);
}

.card {
  padding: 32px 28px;
  /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: var(--default-radius);
  position: relative;
}

.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0 12px;
  background-color: var(--color-grey);
  width: 30px;
  height: 30px;
}

.pagination .page.active {
  background-color: var(--color-black);
  color: #fff;
}

.pagination .page a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
.pagination .page.active a {
  color: inherit;
}

.page_arrow {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 20px;
}

.page_arrow img {
  width: 100%;
  height: 100%;
}

.shadow-success {
  -webkit-box-shadow: 0px 23px 15px -10px rgba(34, 193, 151, 0.2);
  box-shadow: 0px 23px 15px -10px rgba(34, 193, 151, 0.2);
}

.imp-btn {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-radius: var(--lg-radius);
  width: var(--btn-default-wd);
  height: var(--btn-default-ht);
  overflow: hidden;
}

.imp-btn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  color: #fff;
}

.lg-radius {
  border-radius: var(--lg-radius);
}

.default-radius {
  border-radius: var(--default-radius);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
div,
span,
a,
p {
  font-size: 0.875rem;
}
.loading_guard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: hidden;
}

.loading_guard > i.xi-spinner-2 {
  font-size: 3rem;
  margin-bottom: 12px;
}

.loading_guard > div {
  font-size: 1.125rem;
  font-weight: 500;
}

.content-head img[class*='icon'] {
  width: 20px;
  position: absolute;
  left: 15px;
}

img.icon-20 {
  width: 20px;
}

.faq_area {
  position: relative;
}
.faq_area::before {
  font-family: 'SCoreaDream', sans-serif;
  content: '?';
  padding: 4px;
  margin-left: 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color-grey);
  color: var(--color-black);
  cursor: pointer;
}

.faq_area:hover .faq {
  display: block;
}

.faq {
  display: none;
  font-family: 'SCoreaDream', sans-serif;
  font-weight: 700;
  position: absolute;
  width: max-content;
  background-color: var(--color-grey);
  padding: 12px;
  color: var(--color-black);
  border-radius: var(--default-radius);
  top: -20px;
  left: -5px;
  transform: translate3d(0, -100%, 0);
  line-height: 20px;
}

.faq:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #e9e9e9 transparent;
  border-radius: 10px;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -10px;
  left: 5px;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 100;
  src: url(../../fonts/Outfit/Outfit-Thin.eot);
  src: url(../../fonts/Outfit/Outfit-Thin.eot?#iefix) format('embedded-opentype'), url(../../fonts/Outfit/Outfit-Thin.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 200;
  src: url(../../fonts/Outfit/Outfit-Light.eot);
  src: url(../../fonts/Outfit/Outfit-Light.eot?#iefix) format('embedded-opentype'), url(../../fonts/Outfit/Outfit-Light.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 300;
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraLight.woff) format('woff'), url(../../fonts/Outfit/Outfit-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url(../../fonts/Outfit/Outfit-Regular.eot);
  src: url(../../fonts/Outfit/Outfit-Regular.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Regular.woff) format('woff'), url(../../fonts/Outfit/Outfit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 500;
  src: url(../../fonts/Outfit/Outfit-Medium.eot);
  src: url(../../fonts/Outfit/Outfit-Medium.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Medium.woff) format('woff'), url(../../fonts/Outfit/Outfit-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot);
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-SemiBold.woff) format('woff'), url(../../fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix) format('embedded-opentype'), url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 800;
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraBold.woff) format('woff'), url(../../fonts/Outfit/Outfit-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 900;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix) format('embedded-opentype'), url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 100;
  src: url(../../fonts/SCoreaDream/SCoreaDream1.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 200;
  src: url(../../fonts/SCoreaDream/SCoreaDream2.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 300;
  src: url(../../fonts/SCoreaDream/SCoreaDream3.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 400;
  src: url(../../fonts/SCoreaDream/SCoreaDream4.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 500;
  src: url(../../fonts/SCoreaDream/SCoreaDream5.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 600;
  src: url(../../fonts/SCoreaDream/SCoreaDream6.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 700;
  src: url(../../fonts/SCoreaDream/SCoreaDream7.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 800;
  src: url(../../fonts/SCoreaDream/SCoreaDream8.woff) format('woff');
}

@font-face {
  font-family: 'SCoreaDream';
  font-weight: 900;
  src: url(../../fonts/SCoreaDream/SCoreaDream9.woff) format('woff');
}

@font-face {
  font-family: 'SBAggro';
  font-weight: 300;
  font-style: normal;
  src: url(../../fonts/SBAggro/SBAggroL.ttf) format('truetype');
}

@font-face {
  font-family: 'SBAggro';
  font-weight: 500;
  font-style: normal;
  src: url(../../fonts/SBAggro/SBAggroM.ttf) format('truetype');
}

@font-face {
  font-family: 'SBAggro';
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/SBAggro/SBAggroB.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 100;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansThin.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 300;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansLight.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansRegular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 500;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansMedium.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansBold.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 900;
  font-style: normal;
  src: url(../../fonts/NotoSans/NotoSansBlack.otf) format('opentype');
}
