:root {
  --header-h: 60px;
  --top-margin: 66px;
  --color-primary: #748cf1 !important;
  --color-danger: #fd9998 !important;
  --color-success: #59ebdb !important;
  --color-black: #353956 !important;
  --color-l-black: #666 !important;
  --default-radius: 8px;
  --lg-radius: 20px;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('icons/side_nav_cover.svg');
}

.md-btn {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  height: 40px;
  min-width: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: var(--default-radius);
}

div[class*='btn'] > a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.bg-primary,
.bg-primary > a {
  background-color: var(--color-primary);
  color: #fff;
}

.bg-danger,
.bg-danger > a {
  background-color: var(--color-danger);
  color: #fff;
}

.bg-white,
.bg-white > a {
  color: #000;
  background-color: #fff;
}

.bg-white {
  border: 1px solid;
}

.alert_modal {
  position: absolute;
  z-index: 999;
  width: 350px;
  height: 60px;
  left: 50%;
  top: -100px;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.alert_modal.on {
  top: 50px;
}

#content-ct {
  display: flex;
  height: calc(100% - var(--header-h));
}

#content-area {
  overflow: scroll;
  box-shadow: -1px 20px 20px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

#content {
  overflow: scroll;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 12px;
}

.table-head {
  display: flex;
  border-radius: var(--default-radius);
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #eee;
  height: 48px;
}

.content-head {
  margin: var(--top-margin) 0 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-head .title span {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--color-black);
}

.btn-area {
  display: flex;
  justify-content: right;
}

.btn-area > div[class*='btn']:first-child {
  margin-left: 0px;
}

.btn-area > div[class*='btn']:last-child {
  margin-right: 0px;
}

.btn-area > div[class*='btn'] {
  margin: 0 4px;
}

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-radius: var(--lg-radius);
  background-color: var(--color-primary);
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 23px 15px -10px rgba(134, 133, 239, 0.2);
  box-shadow: 0px 23px 15px -10px rgba(134, 133, 239, 0.2);
}

.create-btn a,
.create-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  color: #fff;
  cursor: pointer;
}
.switch_ct {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch_ct > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
.switch_ct > div > span {
  font-size: 1rem;
  color: var(--color-black);
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  margin-top: 4px;
  transition: all 0.25s ease-in;
}

.switch_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.switch_input + .switch_label {
  background-color: var(--color-danger);
}

.switch_input:checked + .switch_label {
  background-color: var(--color-primary);
}

.switch_label::before {
  transition: all 0.35s ease-in;
}

.switch_input + .switch_label::before {
  content: '';
  position: absolute;
  right: inherit;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
}

.switch_input:checked + .switch_label::before {
  left: 55px;
}

div,
span,
a,
p {
  font-size: 0.875rem;
}
@font-face {
  font-family: 'Outfit';
  font-weight: 100;
  src: url(../../fonts/Outfit/Outfit-Thin.eot);
  src: url(../../fonts/Outfit/Outfit-Thin.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Thin.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 200;
  src: url(../../fonts/Outfit/Outfit-Light.eot);
  src: url(../../fonts/Outfit/Outfit-Light.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Light.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 300;
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraLight.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url(../../fonts/Outfit/Outfit-Regular.eot);
  src: url(../../fonts/Outfit/Outfit-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Regular.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 500;
  src: url(../../fonts/Outfit/Outfit-Medium.eot);
  src: url(../../fonts/Outfit/Outfit-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Medium.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot);
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-SemiBold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 800;
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraBold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 900;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}
