:root {
  --header-h: 60px;
  --top-margin: 66px;
  --color-primary: #748cf1 !important;
  --color-danger: #ff7777 !important;
  --color-l-danger: #fd9998 !important;
  --color-success: #22c197 !important;
  --color-black: #353956 !important;
  --color-l-black: #666 !important;
  --default-radius: 8px;
  --lg-radius: 20px;
  --btn-default-wd: 200px;
  --btn-default-ht: 50px;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('icons/side_nav_cover.svg');
}

select {
  background: #fff url(https://skinnypig2018.cafe24.com/icons/select_arrow.svg)
    no-repeat 95% 50%/13px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='radio'] {
  cursor: pointer;
  border: 1px solid var(--color-black);
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio'] + label {
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: var(--color-black);
}

input[type='radio'].full {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

input[type='radio'].full:checked {
  background-color: transparent;
}

input[type='radio'].full:checked + label {
  border-radius: var(--lg-radius);
  border: 2px solid var(--color-primary);
  padding: 12px 24px;
  box-sizing: border-box;
  color: #000;
}
.displaynone {
  display: none !important;
}
.md-btn {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  height: 40px;
  min-width: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: var(--default-radius);
}

div[class*='btn'] > a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.bg-primary,
.bg-primary > a,
.bg-primary > span {
  background-color: var(--color-primary);
  color: #fff;
}

.bg-danger,
.bg-danger > a,
.bg-danger > span {
  background-color: var(--color-danger);
  color: #fff;
}

.bg-white,
.bg-white > a,
.bg-white > span {
  color: #000;
  background-color: #fff;
}

.bg-success,
.bg-success > a,
.bg-success > span {
  color: #fff;
  background-color: var(--color-success);
}

.bg-white {
  border: 1px solid;
}

.alert_modal {
  position: absolute;
  z-index: 999;
  width: 200px;
  height: 60px;
  left: 50%;
  top: -100px;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.alert_modal.on {
  top: var(--btn-default-ht);
}

#content-ct {
  display: flex;
  height: calc(100% - var(--header-h));
}

#content-area {
  overflow: scroll;
  box-shadow: -1px 20px 20px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

#content {
  overflow: scroll;
  padding-left: 48px;
  padding-right: 48px;
}

.table-head {
  display: flex;
  border-radius: var(--default-radius);
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #eee;
  height: 48px;
}

.content-head {
  width: 100%;
  margin: var(--top-margin) 0 42px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-head .area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.content-head .title > span:first-child {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--color-black);
}

.btn-area {
  display: flex;
  justify-content: right;
}

.btn-area > div[class*='btn']:first-child {
  margin-left: 0px;
}

.btn-area > div[class*='btn']:last-child {
  margin-right: 0px;
}

.btn-area > div[class*='btn'] {
  margin: 0 4px;
}

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-radius: var(--lg-radius);
  background-color: var(--color-primary);
  width: var(--btn-default-wd);
  height: var(--btn-default-ht);
  -webkit-box-shadow: 0px 23px 15px -10px rgba(134, 133, 239, 0.2);
  box-shadow: 0px 23px 15px -10px rgba(134, 133, 239, 0.2);
}

.create-btn a,
.create-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  color: #fff;
  cursor: pointer;
}
.switch_ct {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch_ct > div {
  height: 30px;
  display: flex;
  align-items: center;
}
.switch_ct > div > span {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  color: var(--color-black);
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  transition: all 0.25s ease-in;
}

.switch_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.switch_input + .switch_label {
  background-color: var(--color-danger);
}

.switch_input:checked + .switch_label {
  background-color: var(--color-primary);
}

.switch_label::before {
  transition: all 0.35s ease-in;
}

.switch_input + .switch_label::before {
  content: '';
  position: absolute;
  right: inherit;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.switch_input:checked + .switch_label::before {
  left: 55px;
}

.ct-shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.ct-radius {
  border-radius: var(--default-radius);
}
.card-field {
  border: 1px solid #eee;
}
.text-field,
.card-field {
  width: 100%;
  position: relative;
  margin: 24px 0;
}

.card-field {
  border-radius: var(--default-radius);
}

.text-field label,
.card-field > span:first-child {
  display: block;
  position: absolute;
  left: 15px;
  top: -6px;
  background-color: #fff;
  padding: 0 4px;
  box-sizing: border-box;
  transition: color 0.1s ease-in;
}

.text-field.required label::after,
.card-field.required > span:first-child::after {
  content: '*';
  color: var(--color-danger);
}

.text-field input[type='text'],
.text-field input[type='password'] {
  width: 100%;
  height: 60px;
  border-radius: var(--default-radius);
  border: 1px solid #eee;
  transition: border 0.2s ease-in;
  padding: 0 20px;
  font-size: 1rem;
}

.text-field input[type='text']:focus,
.text-field input[type='password']:focus {
  outline: none;
  border: 1px solid var(--color-l-black);
}

.text-field
  input[type='text']:focus
  + label
  .text-field
  input[type='password']:focus
  + label {
  color: var(--color-primary);
}

.card {
  padding: 24px 18px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: var(--default-radius);
  position: relative;
}

.pagination {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0 12px;
  background-color: #eee;
  width: 30px;
  height: 30px;
}

.pagination .page.active {
  background-color: var(--color-black);
  color: #fff;
}

.pagination .page a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
.pagination .page.active a {
  color: inherit;
}

.page_arrow {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 20px;
}

.page_arrow img {
  width: 100%;
  height: 100%;
}
div,
span,
a,
p {
  font-size: 0.875rem;
}
@font-face {
  font-family: 'Outfit';
  font-weight: 100;
  src: url(../../fonts/Outfit/Outfit-Thin.eot);
  src: url(../../fonts/Outfit/Outfit-Thin.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Thin.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 200;
  src: url(../../fonts/Outfit/Outfit-Light.eot);
  src: url(../../fonts/Outfit/Outfit-Light.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Light.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 300;
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraLight.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraLight.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url(../../fonts/Outfit/Outfit-Regular.eot);
  src: url(../../fonts/Outfit/Outfit-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Regular.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 500;
  src: url(../../fonts/Outfit/Outfit-Medium.eot);
  src: url(../../fonts/Outfit/Outfit-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Medium.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot);
  src: url(../../fonts/Outfit/Outfit-SemiBold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-SemiBold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 800;
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot);
  src: url(../../fonts/Outfit/Outfit-ExtraBold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-ExtraBold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 900;
  src: url(../../fonts/Outfit/Outfit-Bold.eot);
  src: url(../../fonts/Outfit/Outfit-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(../../fonts/Outfit/Outfit-Bold.woff) format('woff'),
    url(../../fonts/Outfit/Outfit-Bold.ttf) format('truetype');
}
