.err_message,
.imp_err_message {
  color: var(--color-danger);
  margin-top: 8px;
  padding: 0 20px;
}

.err_message::before,
.imp_err_message::before {
  content: '*';
}

.required_setting_modal_ct {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.required_setting_modal_ct .page_title {
  padding-bottom: 26px;
}
.required_setting_modal_ct .page_title .title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: var(--title-mb);
}

.required_setting_modal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 30px;
  width: max-content;
  height: max-content;
  border-radius: var(--default-radius);
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.required_setting_modal .full-btn {
  font-size: 1rem;
}
.reqiured_notice {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(calc(100% + 10px), -50%, 0);
  background-color: #fff;
  border-radius: 8px;
  z-index: 2;
  padding: 14px 28px 14px 14px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.reqiured_notice > .title {
  padding: 0 0 14px 20px;
}
.reqiured_notice > div {
  padding-left: 20px;
}
.reqiured_notice > div:not(.title) {
  line-height: 21px;
  transition: all 0.3s ease;
  color: #858585;
  background: url('../../icons/false.svg') no-repeat 1px center / 10px 10px;
}
.reqiured_notice > div.c-success {
  background: url('../../icons/true.svg') no-repeat 1px center / 10px 10px;
}

[id*='required']:focus ~ .reqiured_notice {
  display: block;
}

.text-field input.err {
  border-color: var(--color-danger);
}

.text-field input.err + label {
  color: var(--color-danger);
}

.text-field input.clear {
  border-color: var(--color-success);
}

.text-field input.clear + label {
  color: var(--color-success);
}

#domainTextFeild .reqiured_notice > .title {
  padding: 0;
}

.required_setting_modal_ct .page_title .sub_title {
  margin: 0;
}

.required_setting_modal_ct .required_ct {
  margin-bottom: 28px;
}
