#sideNavCt {
  background-color: #fff;
  width: var(--side-nav-w);
  height: 100%;
}

#sideNavCt .logo_ct {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-h);
}
#sideNavCt .logo_ct > a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
#sideNavCt .cates {
  padding: var(--top-margin) 0 0 25px;
}

#sideNavCt .cate {
  position: relative;
  margin: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#sideNavCt .cate:nth-of-type(1) {
  margin-top: 0;
}
#sideNavCt .cate > a {
  color: #b5b5b5;
  padding: 16px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 60px;
  width: 100%;
}

#sideNavCt .cate:nth-of-type(1) > a {
  padding-top: 0;
}
#sideNavCt .cate.on {
  border-radius: var(--lg-radius);
}

#sideNavCt .cate.on > a {
  color: #000;
}
#sideNavCt .cate.on::before {
  background: url('../../icons/side_nav_cover.svg') center / cover no-repeat;
  position: absolute;
  right: 0;
  width: 24px;
  height: 103px;
}

#sideNavCt .icon {
  position: absolute;
  left: 15px;
  width: 25px;
}

#sideNavCt svg {
  position: absolute;
  left: 15px;
  width: 25px;
}

#sideNavCt .cate svg [class*='cls'] {
  fill: #b5b5b5;
}

#sideNavCt .cate.on svg [class*='cls'] {
  fill: #000;
}
