<link rel="stylesheet" type="text/css" href="/css/faq/faq.css" />
<link rel="stylesheet" type="text/css" href="/css/common/prism.css" />

<div id="content">
  <div class="page_title">
    <div class="title_ct">
      <span class="title">FAQ</span>
      <span class="sub_title">자주 묻는 질문</span>
    </div>
  </div>
  <div class="faq_ct">
    <div class="section_ct fold card">
      <div class="section_title">어떻게 설치 해야 하나요?</div>
      <div class="section_content">
        <div class="section">
          <div>모든 작업은 [카페24 어드민 페이지 - 디자인 편집창 - 상품상세] 에서 진행됩니다</div>
          <br />
          <div>스토어맵을 위치하고 싶은 코드 줄에 복사/붙여넣기를 해주세요</div>
          <pre data-prismjs-copy-timeout="2000">
          <code class="language-html" data-prismjs-copy="Copy">
            &lt;div id="storeMap"&gt;&lt;div&gt;
          </code>
          </pre>
          <br />
          <div>가장 아랫줄에 아래 코드를 복사/붙여넣기 해주세요</div>
          <pre data-prismjs-copy-timeout="2000">
          <code class="language-html" data-prismjs-copy="Copy">
            &lt;script src="https://storage.googleapis.com/utilityapp-399403-stormap-marker-bucket/storeMapInit.js"&gt;&lt;script&gt;
          </code>
          </pre>
          <br />
          <div>설치가 어려우신 경우 [utilityapp@naver.com]에 아래 양식으로 문의해 주시면 순차적으로 설치 후 연락드립니다.</div>
          <br />
          <div class="email_form card">
            <div>스토어맵 설치 문의 드립니다.</div>
            <br />
            <li>이름:</li>
            <li>전화번호:</li>
            <li>카페24 아이디:</li>
            <li>카페24 비밀번호:</li>
          </div>
        </div>
      </div>
    </div>
    <div class="section_ct fold card">
      <div class="section_title">매장을 등록했는데 지도에 나타나지 않아요</div>
      <div class="section_content">
        <div class="section">
          <div>
            <span>1. 매장의 노출여부가</span>
            <div class="use_status switch_ct">
              <div class="icon on"></div>
            </div>
            <span>상태인지 확인해 주세요</span>
          </div>
          <br />
          <div class="align-center">
            <span>2. 매장의 좌표설정이</span>
            <div class="mr-2 ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                <path
                  d="M24.2183 10.1557L19.8892 10.1562L18.7046 6.77244C18.5962 6.46287 18.3071 6.25438 17.979 6.24998C17.6538 6.2368 17.3555 6.4453 17.2378 6.75096L14.3159 14.3496L13.6196 10.6938L12.9688 7.27537L11.7046 0.635237C11.6357 0.27098 11.3203 0.00535451 10.9492 -1.65806e-05C10.5508 -0.00392283 10.2549 0.249983 10.1748 0.6118L7.69971 11.7495L6.2168 6.80711C6.11914 6.48289 5.82471 6.2578 5.48535 6.24998C5.14307 6.22264 4.8418 6.45408 4.73047 6.77244L3.54687 10.1562H0.78125C0.350098 10.1562 0 10.5063 0 10.9375C0 11.3686 0.350098 11.7187 0.78125 11.7187H4.10156C4.43359 11.7187 4.72949 11.5088 4.83887 11.1963L5.41162 9.56053L7.06396 15.0693C7.1665 15.4101 7.48486 15.6504 7.84131 15.6255C8.19678 15.6123 8.49854 15.3613 8.57471 15.0137L10.8784 4.64793L11.3789 7.27586L12.0298 10.6938L13.2944 17.334C13.3594 17.6767 13.6445 17.9346 13.9922 17.9658C14.0156 17.9682 14.0391 17.9687 14.0615 17.9687C14.3818 17.9687 14.6733 17.772 14.7905 17.4678L17.9326 9.29735L18.5977 11.1958C18.707 11.5083 19.0029 11.7182 19.335 11.7182H24.2178C24.6489 11.7182 24.999 11.3681 24.999 10.937C24.999 10.5058 24.6489 10.1557 24.2178 10.1557H24.2183Z"
                  fill="#68A67D"
                />
              </svg>
            </div>
            <span>상태인지 확인해 주세요</span>
          </div>
          <div class="ml-3 mt-2">* 네이버 지도에 등록되어 있지 않은 주소의 경우 좌표 설정이 불가능할 수 있습니다.</div>
          <br />
          <div>3. 해당 매장 상세페이지에서 상품정보가 나타나는지 확인해 주세요. [상품 설정]에서 상품이 활성화 상태이어야 합니다</div>
        </div>
      </div>
    </div>
    <div class="section_ct fold card">
      <div class="section_title">결재가 완료되었는데 포인트가 충전되지 않아요</div>
      <div class="section_content">
        <div class="section">
          <div>[utilityapp@naver.com]에 아래 양식으로 문의해 주세요</div>
          <br />
          <div class="email_form card">
            <div>스토어 맵 결재를 완료하였는데 포인트가 충전되지 않아요.</div>
            <br />
            <li>이름:</li>
            <li>전화번호:</li>
            <li>결재금액:</li>
            <li>카페24 어드민 아이디:</li>
            <li>카페24 어드민 비밀번호:</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/faq/faq.js"></script>
<script src="/js/common/prism.js"></script>
