<link rel="stylesheet" type="text/css" href="/css/faq/faq.css" />
<link rel="stylesheet" type="text/css" href="/css/common/prism.css" />

<div id="content">
  <div class="page_title">
    <div class="title_ct">
      <span class="title">FAQ</span>
      <span class="sub_title">자주 묻는 질문</span>
    </div>
  </div>
  <div class="faq_ct">
    <div class="section_ct fold card">
      <div class="section_title">어떻게 설정해야 하나요?</div>
      <div class="section_content">
        <div class="section">
          <pre><code class="language-html">&lt;script&gt;</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/faq/faq.js"></script>
<script src="/js/common/prism.js"></script>
