body #content {
  overflow: initial;
  padding-bottom: 60px;
}

.widget_ct {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--top-margin) 0 30px 0;
}

.widget_ct > .left > .card,
.widget_ct > .right {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: var(--default-radius);
  position: relative;
}

.widget_ct > .left > .card {
  padding: 24px 18px;
}

.widget_ct > .left {
  width: 30%;

  height: 100%;
}

.widget_ct > .right {
  width: 50%;
  padding: 18px;
}

.widget_ct > div:nth-child(3n) {
  margin-right: 0px;
}
.widget_ct > div:nth-child(3n + 1) {
  margin-left: 0px;
}
.pickr_ct {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pickr_ct > span {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.pickr_ct > div {
  border-left: 1px solid #aaa;
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pickr_ct .pickr .pcr-button {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.pickr_ct .pickr .pcr-button:focus {
  box-shadow: none;
}

.section {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: var(--default-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 28px 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.section.lg {
  height: 65px;
}

#uiMainColorPreview {
  width: 100%;
  transition: all 0.3s;
  position: relative;
}

#uiMainColorPreview::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--default-radius);
  transition: all 0.3s;
}
#uiMainColorPreview:hover::before,
.main_color_pickr_ct:hover ~ #uiMainColorPreview::before {
  background-color: rgba(255, 255, 255, 0);
}

.store_name {
  font-weight: bold;
}

#pickupStore.right {
  padding: 24px 12px;
}

#pickupStore.right * {
  font-family: 'Apple SD';
}
#pickupStore.right .store_list_ct .store-info-container div.swiper-slide > div:nth-last-child(1) {
  margin-bottom: 0px;
}

.btn_area {
  position: absolute;
  bottom: 18px;
  right: 18px;
}
.preview {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.175rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #eee;
}

.sample_map_ct {
  width: 100%;
}

.sample_map_ct img {
  width: 100%;
}

.ui_ct {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui_ct label {
  color: #aaa;
  font-weight: 500;
  font-size: 1rem;
}

.ui_ct > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btn_area {
  position: initial;
  margin-top: 36px;
}

.renew_btn {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.825rem;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  transition: all 0.5s ease;
}

.renew_btn:hover {
  transform: rotate(360deg);
  background-color: var(--color-primary);
}

.renew_btn:hover i {
  color: #fff;
}

.save_alert {
  position: fixed;
  z-index: 999;
  width: 240px;
  height: 60px;
  left: 50%;
  top: -100px;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: var(--color-danger);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 0 12px;
}

.save_alert.on {
  top: var(--btn-default-ht);
}

#uiMainColorPreview #map {
  font-size: 0px;
  position: relative;
}
#uiMainColorPreview #map .iw_inner {
  position: absolute;
  width: 200px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
}
#uiMainColorPreview #map .iw_inner .btn-box .close-btn {
  border-radius: 0px;
}
#uiMainColorPreview #map .iw_inner .btn-box .pickup-btn {
  border-radius: 0px;
}

.marker_img_area {
  margin-top: 60px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: var(--default-radius);
  padding: 16px 8px;
}
.marker_img_upload_area {
  display: flex;
  justify-content: space-around;
}

.marker_img_upload_box {
  margin-bottom: 30px;
  flex: 1;
  width: 50%;
  position: relative;
}
.marker_img_upload_box:nth-child(1)::before {
  position: absolute;
  content: '';
  right: 0;
  border-right: 1px solid #eee;
  height: 100%;
}

.marker_img_upload_box input {
  position: absolute;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.marker_submit_box {
  display: flex;
  justify-content: space-between;
}
.marker_submit_box #markerSubmit {
  width: 100%;
}

.marker_img_upload_box label {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}
.marker_img_upload_box label img {
  max-width: 30px;
  max-height: 30px;
  margin: 0 auto;
}

.marker_img_upload_box .title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
