#content {
  height: 100%;
  padding-bottom: 36px;
}
.content-head {
  width: 50%;
}
#products .prd_img,
#products .name,
#products .prd_price,
#products .use_status,
#products .prd_no {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  box-sizing: border-box;
}
#products .prd_no {
  width: 10%;
}
#products .prd_img {
  width: 100px;
}
#products .name {
  width: 40%;
}

#products .prd_price {
  width: 15%;
}

#products .use_status {
  position: relative;
  width: 10%;
}

#products .prd_img img {
  width: 100%;
  height: 100%;
}

#products .product {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: var(--default-radius);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

#products .product::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color-danger);
}

#products .product.use::before {
  background-color: var(--color-primary);
}

#products .product .prd_img {
  height: 100px;
  border-radius: var(--default-radius);
  overflow: hidden;
}

#products .product,
.table-head {
  margin: 16px 0;
  padding: 10px 18px;
  border-radius: var(--default-radius);
}

.table-head {
  margin-top: 0px;
}

.prd_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prd_cnt {
  font-size: 2.375rem;
}

.product_ct {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.product_ct .left {
  width: 50%;
}

.product_ct .right {
  width: 40%;
  top: 0;
  height: max-content;
  transition: top 0.5s ease;
}

.product_ct .right.sticky {
  position: sticky;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}

.emtpy_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emtpy_product > img {
  width: 140px;
  margin: 24px;
}

.emtpy_product > span {
  font-size: 1rem;
  font-weight: 500;
}

.filter_ct .text-field {
  display: flex;
  justify-content: right;
  margin-bottom: 24px;
  height: 50px;
}

.filter_ct .search_prd_num_ct {
  position: relative;
  margin-right: 12px;
}

body .filter_ct .search_prd_num {
  width: 100%;
  height: 100%;
}

#searchPrdNumBtn {
  height: 100%;
}

#products .product i.xi-spin {
  display: none;
}
#products .product.loading i.xi-spin {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  font-size: 2rem;
}
#products .product.loading::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--default-radius);
  z-index: 999;
}

.page_title {
  align-items: center;
}

.api_limit_ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 24px 0;
}

.api_limit_ct .limit {
  display: flex;
  align-items: center;
}

.api_limit_ct .limit span,
.api_limit_ct .limit .title {
  font-family: 'SBAggro';
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-l-black);
}
.api_limit_ct .limit .max_limit {
  font-size: 1rem;
}

.api_limit_ct .limit .current_limit {
  color: var(--color-danger);
}

.limit_box {
  border-radius: 10px;
  background-color: #eee;
  padding: 2px 12px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
}

.limit_box span:nth-child(2) {
  margin: 0 4px;
}
