<div class="login_ct">
  <div class="login_area">
    <div class="form">
      <div class="form_input">
        <input id="store_map_email" type="email" value="test4@naver.com" />
        <div class="placeholder">ID</div>
      </div>
      <div class="form_input">
        <input id="store_map_pw" type="password" value="test4" />
        <div class="placeholder">PW</div>
      </div>
    </div>
    <div id="login_btn" class="md-btn bg-primary">로그인</div>
  </div>
</div>

<script src="/js/users/login.js"></script>
