<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/users/auth.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>로그인</title>
  </head>
  <body>
    <div class="alert_modal on" style="width: max-content; padding: 30px 28px; top: 20%">담당자님들 그대로 로그인 해주시면 됩니다.</div>
    <div class="login_ct">
      <div class="login_area">
        <div class="form">
          <div class="form_input">
            <input id="storeMapMallId" type="email" value="rlagudtjq2016" />
            <div class="placeholder">ID</div>
          </div>
          <div class="form_input">
            <input id="store_map_pw" type="password" value="qwerasdf" />
            <div class="placeholder">PW</div>
          </div>
        </div>
        <div id="login_btn" class="md-btn bg-primary">로그인</div>
      </div>
    </div>
  </body>
  <script src="/js/users/login.js"></script>
</html>
