<link rel="stylesheet" type="text/css" href="/css/users/mypage.css" />

<div id="content">
  <div class="mypage_content card">
    <div class="content_col">
      <div class="info_ct">
        <div class="text-field id">
          <input type="text" id="id" value="<%- user.mallId %>" />
          <label for="id">아이디</label>
        </div>
        <div class="text-field">
          <input type="password" id="password" value="" />
          <label for="password">비밀번호</label>
        </div>
        <div class="text-field">
          <input type="text" id="name" value="<%- user.name %>" />
          <label for="name">이름</label>
        </div>
        <div class="text-field">
          <input type="text" id="email" value="<%- user.email %>" />
          <label for="email">이메일</label>
        </div>
      </div>
      <div class="origin_ct">
        <div class="text-field required">
          <input type="text" id="domain" value="<%- user.origin %>" placeholder="https://example.com" />
          <label for="domain">홈페이지 도메인</label>
        </div>
      </div>
    </div>
    <div class="btn-area">
      <div class="full-btn bg-success" id="submit">저장</div>
    </div>
  </div>
</div>

<script src="/js/users/mypage.js"></script>
