<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/users/auth.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>회원가입</title>
  </head>
  <body>
    <div class="login_ct">
      <div class="login_area">
        <div class="form">
          <div class="form_input">
            <input id="email" type="email" value="rlagudtjq2016@naver.com" />
            <div class="placeholder">ID</div>
          </div>
          <div class="form_input">
            <input id="password" type="password" value="rlagudtjq2016" />
            <div class="placeholder">PW</div>
          </div>
          <div class="platform">
            <select id="platform">
              <option value="cafe24">cafe24</option>
            </select>
          </div>
        </div>
        <div id="signBtn" class="md-btn bg-primary">회원가입</div>
      </div>
    </div>
  </body>
  <script src="/js/users/register.js"></script>
</html>
