<link rel="stylesheet" type="text/css" href="/css/products/products.css" />

<div id="content">
  <div class="content-head">
    <div class="area">
      <div class="title">
        <span>상품 설정</span>
        <div class="prd_cnt">
          (
          <span id="prdCnt">0</span>
          )
        </div>
      </div>
      <div class="use_status_btn_area displaynone">
        <div
          class="imp-btn shadow-success bg-success lg-radius"
          id="useStatusBatchPrcsUBtn"
        >
          <span>일괄 활성화</span>
        </div>
      </div>
    </div>
  </div>
  <div class="product_ct">
    <div class="left">
      <div class="filter_ct">
        <div class="text-field">
          <div class="search_prd_num_ct">
            <input class="search_prd_num" id="searchPrdNum" type="number" />
            <label for="searchPrdNum">상품 번호</label>
          </div>
          <div class="md-btn bg-primary" id="searchPrdNumBtn">검색</div>
        </div>
      </div>
      <div class="card">
        <div id="products">
          <div class="table-head">
            <div class="prd_no">
              <span>상품번호</span>
            </div>
            <div class="prd_img">
              <span>상품이미지</span>
            </div>
            <div class="name">
              <span>상품명</span>
            </div>
            <div class="prd_price">
              <span>가격</span>
            </div>
            <div class="use_status">
              <span>활성화</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="api_limit_ct">
        <div class="activation_limit">
          <div class="title">활성화 호출 제한</div>
          <span class="current_limit" id="activationLimit">0</span>
          <span class="max_limit">40</span>
        </div>
        <div class="deactivation_limit">
          <div class="title">비활성화 호출 제한</div>
          <span class="current_limit" id="deactivationLimit">0</span>
          <span class="max_limit">40</span>
        </div>
      </div>
      <div class="card">
        <div class="description_ct">
          <div class="title">상품 활성화 설명서</div>
          <div class="description">
            <span class="circle">⦁</span>
            <span>
              <span>
                일괄 활성화 시 상품 개수가 40개 미만일 경우에는 즉시 처리됩니다.
              </span>
            </span>
          </div>
          <div class="description important">
            <span class="circle">⦁</span>
            <span class="important">
              일괄 활성화 시 상품 개수가 40 이상일 경우에는 카페24 API 호출
              제한으로 인해 상품개수 X 2초 의 딜레이가 발생합니다
            </span>
          </div>
          <div class="description important">
            <span class="circle">⦁</span>
            <span class="important">
              수동으로 활성화 시 카페24 API 호출 제한으로 인해 다음 동작까지
              2초의 딜레이가 발생합니다.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/products/products.js"></script>
